[2018-02-23 16:36] etimberg opened #1 "History.md file used in setup.py is not in repository"
In `setup.py`, https://github.com/NREL/ditto/blob/master/setup.py#L17

[code]

## Reproduce Steps

1. Clone repo
2. `cd` to repo directory
3. Run `pip install -e .`
4. Observe the stack trace

[2018-02-23 16:50] etimberg opened #2 "Setup.py is missing dependencies"
The following dependencies are imported in the source but are not installed when `pip install -e .[dev]` is run.

* croniter
* OpenDSSDirect.py
* pandas
* traitlets
* xlrd

## Reproduce Steps

1. Clone the repo and `cd` to directory
2. `mkvirtualenv ditto --python=python2.7`
3. `pip install -e .[dev]` assumes #1 is fixed
4. `python  -m pytest tests/`
5. See import errors regarding pandas and croni

[2018-02-23 16:54] etimberg opened #3 "Tests have incorrect imports"
When trying to run the unit tests to make sure that I got everything set up correctly, I noticed the following issues:

| Location | Issue |
| --------- | ----- |
| https://github.com/NREL/ditto/blob/master/ditto/readers/dew/test_dew.py#L12 | Class is `reader` |
| https://github.com/NREL/ditto/blob/master/ditto/readers/dew/test_dew.py#L14 | Class is `writer` |
| https://github.com/NREL/ditto/blob/

[2018-02-23 16:57] etimberg opened #4 "Hardcoded test file path in in `dew_test.py`"
There are 3 test files linked from `dew_test.py` that point to files that are not in this repo.

Eg: https://github.com/NREL/ditto/blob/master/ditto/readers/dew/test_dew.py#L16

[2018-02-23 17:04] etimberg opened #5 "Missing CIM15 Imports"
[ditto/environment.py](https://github.com/NREL/ditto/blob/master/ditto/environment.py) imports CIM15 modules that do not exist. This causes tests to fail to run.

## Reproduce

1. Run `python -m pytest tests/test_ditto.py`
2. See import errors from `ditto/environment.py`

Example error:
[code]

[2018-02-23 17:07] bpalmintier opened #6 "Create Getting started guide"
@NicolasGensollen and @tarekelgindy

Do we have a getting started guide for DiTTo? All of the issues being posted by @etimberg seem to imply that such a starting point is missing. He brings up many good points to improve DiTTo and its install, testing and otherwise tightening the development culture.

But in the mean time, it seems we need to add some sort of getting started guide that captures wh

[2018-02-23 18:22] #2 closed, assigned to nobody

[2018-02-23 19:37] #5 closed, assigned to nobody

[2018-02-23 19:42] #3 closed, assigned to kdheepak, tarekelgindy

[2018-02-23 19:43] #1 closed, assigned to kdheepak

[2018-02-23 19:48] kdheepak opened #9 "Make tests pass"
[code]

[2018-02-23 19:51] etimberg opened #10 "`has_key` not available in Python3"
Running a bit further with testing this in Python 3.6, I found that `has_key` is used 216 times in the source. It got removed in Python 3 with the instruction to use the `in` operator instead.

[code]

[2018-02-23 19:54] #10 closed, assigned to kdheepak

[2018-02-23 20:57] kdheepak opened #12 "Add examples"

[2018-02-23 22:23] etimberg opened #13 "CYME IEEE4 Test Case Does Not Import"
CYME ships with a copy of the IEEE4 bus network in it's samples. I figured out how to turn the sxst file into the three ascii files needed by the CYME reader.

I ran the importer as follows:

[code]

When I ran this, I get the following error:
[code]

## Underlying Issue

The CYME IEEE4 test feeder has an odd configuration. The overhead line from the source node to the transformer has 4 wires (pha

[2018-02-24 04:11] kdheepak opened #14 "Make Python 3 compatible"

[2018-02-26 14:36] etimberg opened #15 "Support CYME Self Contained Studies"
The CYME reader currently supports importing ascii files that are generated as an export from the CYME database. However, most CYME files are self contained studies (.sxst files). It would be great to also support these as input and output if possible.

## How To Convert sxst to ascii format

1. Create a database in cyme
2. Import the sxst file into the database
3. Export the database in ascii for

[2018-02-26 23:17] #15 closed, assigned to tarekelgindy

[2018-03-01 20:51] #13 closed, assigned to NicolasGensollen

[2018-03-11 00:55] etimberg opened #16 "Consider using Python logging module in lieu of print statements"
I noticed that throughout the codebase that there are a number of helpful print statements such as https://github.com/NREL/ditto/blob/615d482a9bd1929cfeb4306dab29ccff0b069997/ditto/readers/cyme/read.py#L747 or https://github.com/NREL/ditto/blob/615d482a9bd1929cfeb4306dab29ccff0b069997/ditto/readers/cyme/read.py#L3111

We should consider replacing all the print statements with appropriate calls to

[2018-03-11 01:06] etimberg opened #17 "Implement CLI"
Adding this to track filling out the [CLI](https://github.com/NREL/ditto/blob/master/ditto/cli.py)

## Options

Some thoughts on what options an initial CLI version could provide. If possible it would be great to make `--from` and `--to` optional arguments and try and determine the best converted to use based on the file extension (may be easier said than done).

| Option | Short Option | Type | U

[2018-03-11 02:19] kdheepak opened #18 "Rename class names and standardize naming convention"
Class names should be CamelCase. e.g.

[code]

[2018-03-11 02:20] kdheepak opened #19 "Move scripts from package directory to separate folder in root directory"

[2018-03-11 02:28] kdheepak opened #20 "Clean docstring formatting"
Prefer the following

[code]

instead of

[code]

Similarly, prefer the following

[code]

instead of

[code]

[2018-03-14 01:45] etimberg opened #22 "Cannot convert IEEE4 from CYME to gridlabd"
As a followup to #13 , I am trying to use the same input files to convert IEEE4 from cyme to gridlabd.

The converter is run as follows

[code]

When I ran, I got the following error

[code]

# Reproduce Steps
1. Download the attached text files
2. Copy the above reproduce script and put it in the same place as the attachments
3. Run the text script

[equipment.txt](https://github.com/NREL/ditto/f

[2018-03-16 22:28] #22 closed, assigned to NicolasGensollen

[2018-03-20 16:53] #16 closed, assigned to kdheepak

[2018-03-20 16:56] #14 closed, assigned to kdheepak

[2018-03-23 15:49] NicolasGensollen opened #26 "Tests fail"
Hey @kdheepak,

When running the tests, I get the following error:

[code]

Any idea what this is?
Thanks!

[2018-03-25 01:40] etimberg opened #27 "Cannot import OpenDSS Greensboro Synthetic Network"
I downloaded the Greensboro Synthetic Network from BetterGrids [here](http://db.bettergrids.org/bettergrids/handle/1001/366).

I tried to import that network into DiTTo using the OpenDSS reader. When doing so I ran into errors with the delimiter in the files bus coordinate file.

## Reproduce Steps

1. Download GSO_Base_Network.zip from site linked above
2. Extract zip file
3. cd `GSO_Base_Network

[2018-03-25 01:47] etimberg opened #28 "Cannot import PNNL Taxonomy Feeders Region 5 - Feeder 1 from gridlabd"
I downloaded the PNNL taxonomy feeders for region 5 from [BetterGrids](http://db.bettergrids.org/bettergrids/handle/1001/174). I then tried to import this file using the gridlabd importer however I ran into math domain errors when computing wire spacing.

## Reproduce Steps

1. Download `R5-12.47-1.glm` from the link above and put it in the ditto directory
2. Paste the test script below into `test

[2018-03-26 16:53] #27 closed, assigned to NicolasGensollen

[2018-03-26 18:38] kdheepak opened #29 "ValueError in GridLAB-D Reader"
This test is failing if it is not skipped.

[code]

[2018-03-26 18:43] #9 closed, assigned to kdheepak, tarekelgindy

[2018-03-26 20:25] #19 closed, assigned to kdheepak

[2018-03-26 20:41] kdheepak opened #31 "Remove explicit import of ditto within ditto"
Prefer the following

[code]

instead of

[code]

This has advantages in terms of maintaining the same code when changes are required in the structure in some cases, and also identifying some circular imports ahead of time.

[2018-03-26 20:54] #18 closed, assigned to kdheepak

[2018-03-29 19:43] kdheepak opened #43 "ditto writing out OpenDSS file in order that causes segfault"
See attachment. Ordering of `WireData.dss` and `LineCodes.dss` is the difference between a segfault and successful run.

[ieee_4node.zip](https://github.com/NREL/ditto/files/1861716/ieee_4node.zip)

It might be an issue with OpenDSS / OpenDSSDirect.py

[2018-03-29 19:44] #26 closed, assigned to NicolasGensollen

[2018-03-29 20:27] #29 closed, assigned to tarekelgindy

[2018-04-17 22:40] kdheepak opened #48 "Allow core representation to be serialized and deserialized"

[2018-04-19 16:13] tarekelgindy opened #49 "Check the implementation of regulators in the readers and writers"
Need to ensure consistency as to whether windings are being used or a connected transformer is specified. We are moving to having a connected transformer for all regulators rather than having information specified directly in windings.

[2018-04-19 16:30] NicolasGensollen opened #51 "Safety checks for models attributes"
It is currently possible to set models attributes with incorrect types.
For example, ```Line``` objects have an attribute ```is_switch``` defined as an Integer:

[code]

Nonetheless, the following code does not raise any error or warning:

[code]

[2018-04-19 17:34] kdheepak commented on #51
If you `print(line_obj.is_switch)`, what do you get? If you get an integer, then `line_obj.is_switch` is coercing boolean to integer. I think this might be a issue specific to boolean and integer values. This might even be specific to a version of Python.

[2018-04-19 17:58] NicolasGensollen commented on #51
[code]

[2018-04-20 05:08] kdheepak commented on #51
And can you check what version of Python you are using?

[2018-04-20 14:37] NicolasGensollen commented on #51
The previous example was obtained using Python 2.7.13 and I get the exact same thing using Python 3.6.4.

[2018-04-20 19:50] NicolasGensollen opened #54 "Different versions handling"
I think we should do some thinking about how we wish to handle different versions for the parsers (a reader for Cyme 4.5 for instance). I know this is not top priority, but even if we don't implement these versions ourselves, the infrastructure to do it will be there.

I think the easiest way would be to have a ```read.py``` (or ```write.py```) which detects or takes as input the version used and

[2018-04-20 20:30] NicolasGensollen commented on #43
I think we can close this.
I decided to re-write the code which generates ```Linecodes.dss```, ```Linegeometry.dss```, and ```WireData.dss```. See PR #52.
As long as ```redirect WireData.dss``` is before ```redirect Linegeometry.dss``` in ```master.dss``` it should be fine now...

[2018-04-20 20:30] #43 closed

[2018-04-23 22:22] tarekelgindy opened #58 "python-levenshtein needs to be installed separately when no c++ compiler exists on machine"

[2018-04-24 09:19] tarekelgindy opened #59 "Transmission Line error in Cyme writer"
I think in one of the latest updates the cyme writer there was a bug in the Transmission line segment. When reading dataset3 which was written to CYME into DiTTo I get the following error:

`Traceback (most recent call last):
  File "create_usecase_stacks.py", line 125, in <module>
    main()
  File "create_usecase_stacks.py", line 123, in main
    s.run()
  File "C:\Users\telgindy\Documents\ditto

[2018-04-24 15:15] NicolasGensollen opened #60 "Fix JSON reader and implement some tests"

[2018-04-24 15:17] NicolasGensollen commented on #48
Need to address #60

[2018-04-25 17:04] tarekelgindy commented on #58
This problem has occurred for several installs. The problem should be addressed with this stackoverflow page:

https://stackoverflow.com/questions/32595050/sudo-pip-install-python-levenshtein-failed-with-error-code-1?rq=1

i.e. installing python-dev and build-essentials,  which will support gcc.
 @kdheepak  should we include these in the pip install list?

[2018-04-25 17:10] kdheepak commented on #58
We probably don't need it and can remove the dependencies after removing the imports and making sure the tests pass.

[2018-04-25 20:07] #58 closed

[2018-04-25 20:15] NicolasGensollen commented on #51
Hey @kdheepak
Another example of weird things with the ```Traitlets```:

If you do the following:

[code]
You get the following error:

[code]

Now, I'm sure to understand why you can set a ```Float``` attribute with a Python ```float``` but not a list a ```Floats``` in the same way.

It looks like the following code does not raise an error:

[code]

Also, the following code, which does something

[2018-04-25 20:21] #59 closed, assigned to NicolasGensollen

[2018-04-25 20:57] kdheepak commented on #51
The most recent concern in the latest PR.

![screen shot 2018-04-25 at 2 49 49 pm](https://user-images.githubusercontent.com/1813121/39272023-f8671dcc-4897-11e8-8dcc-b0a7d2f1d979.png)

That no longer throws an error.

Sidenote:

You should never use `.append` on the list of a traitlet trait, because it'll have an effect ONLY on that list. However, the data that that list represents can be stored o

[2018-04-25 21:05] kdheepak commented on #51
Also,

[code]

because the above is true, the first example will never throw an error. Traitlets just checks for the instance of the object that is passed in.

[code]

This is a Python "feature" unfortunately.

[2018-04-25 21:08] kdheepak commented on #51
See [PEP-0285](https://www.python.org/dev/peps/pep-0285/) for historical context. Python is not ideal for these types of type checks. Feel free to close this issue unless you find something else that isn't working as expected.

[2018-04-25 21:44] NicolasGensollen commented on #51
Thanks for addressing this issue so quickly and for all the explanations @kdheepak !
I think we can close this for now, although I'm still a little concerned with the ```append``` issue. I understand the problem, but I think that 99.9% of the users will write

[code]

instead of what you wrote because it feels more natural.
This is probably not top priority for now though.

[2018-04-25 21:44] #51 closed

[2018-04-25 22:36] kdheepak commented on #51
We shouldn't use a `List` and should opt to use `Tuple` instead.

[2018-04-26 21:02] NicolasGensollen opened #65 "Name convention to avoid conflicts"
Most tools like OpenDSS requires having unique names per object class. It means that you can have a transformer named ```Reg1``` and a regulator with the same name.

IEEE 13 node feeder example:

[code]

However, this raises an issue in DiTTo since names have to be unique.

We had these naming issues before, and the way we handled them was to add a prefix (like ```load_```) to the objects when we

[2018-04-30 04:37] tarekelgindy opened #67 "Use Feeder_metadata metrics/network_analyzer"
The feeders and substations are set as attributes of the network_analyzer class. I think that it would be better if these were set in Feeder_metadata and then these objects used here rather than how it is currently implemented. We can discuss to decide if this is a good idea or not.

[2018-04-30 23:09] jdlara-berkeley opened #68 "OpenDSS resulting file is incorrect"
I have been testing the conversion from CYME to OpenDSS and solving the power flow problem, the results from the power flow are only for the source bus. After testing with several CYME files including the 13 bus system data_files in the repository.

The lines needed to reproduce the problem are as follows:

[code]
I have made the tests with several CYME folders and the problem is the same, the out

[2018-05-01 16:22] NicolasGensollen opened #69 "Cyme to OpenDSS errors for IEEE 4 node"
Trying to fix #68, I tried running the conversion on a smaller test case (4 node). I get the following output (putting everything in the same file):

[code]

When trying to run this with OpenDSSdirect, I get either a SegFault or the following error (with Python 3.6.4 or 2.7.13):

[code]

@kdheepak, any idea what might be causing that?

[2018-05-01 16:29] NicolasGensollen opened #70 "Order of the redirect commands in master.dss can cause segfaults"
The OpenDSS writer generates automatically a master file that redirects the other dss files created.
It looks like the order can sometimes make OpenDSSdirect segfault. For example if ```Lines.dss``` is redirected before ```WireData.dss```.

[2018-05-01 21:54] kdheepak commented on #69
It's hard to say exactly what is going on here. Are you able to try the same lines in the GUI of OpenDSS? It might tell you exactly what is incorrect. If that doesn't help, I would post to the sourceforge page for electricdss for support.

[2018-05-01 22:03] NicolasGensollen commented on #69
I think I solved the issue. The error/segfault came from the fact that the impedance matrix of ```Linecode.3P_OH_Code0``` was not square (4 columns and 3 lines if you look closely at the code above). This is related to a small bug in the way the neutral wire and the Kron reduction were done in the Cyme reader.
This should be solved in #71

[2018-05-01 22:03] #69 closed

[2018-05-01 23:55] NicolasGensollen commented on #68
Looks like I declared this solved too fast...
The fix implemented in #71 improves things but the voltages still drop to 0 after the regulator (instead of the source before #71).
After a quick look, it seems that there is an issue with the lines declared as ```[OVERHEAD BYPHASE SETTING]``` since none of them make it all the way to ```Lines.dss```.

[2018-05-02 16:55] NicolasGensollen opened #74 "CYME --> OpenDSS validation IEEE 13 bus"
When converting the IEEE 13 bus from Cyme to OpenDSS and running power flow, I get weird voltages:

[code]

To reproduce this, run the following script (make sure you pulled the latest code from Master):

[code]

The OpenDSS output is the following (putting everything in a single file):

[code]

[2018-05-02 16:57] NicolasGensollen commented on #70
Solved by #72

[2018-05-02 16:57] #70 closed

[2018-05-02 18:40] NicolasGensollen commented on #68
With fix #73 the voltages shouldn't drop to 0 anymore.
They are still looking weird so I opened another issue (#74) because this is probably not caused by a bug in the code but more likely by the translation issue for one or more objects.

[2018-05-03 20:20] NicolasGensollen opened #77 "Refine the Modify and Metrics module architecture"
The ```system_structure_modifier``` and the ```network_analyzer``` are doing a lot of similar/same things. For example, instantiating them triggers the graph computation. So, if we want to compute the metrics on a modified network, we have to compute the graph twice...

Ideally, the ```network_analyzer``` should only be used to compute the metrics (maybe we should rename it then...), and all modif

[2018-05-03 23:18] NicolasGensollen opened #78 "Include RNM systems in the examples"
I am working on adding conversion examples (see #12) of larger test systems.

So far we have  (see branch ```Add_examples```):

- IEEE 8500 (OpenDSS)
- EPRI J1 Feeder (OpenDSS)

such that the 2 conversion examples we have are OpenDSS ---> Cyme for each of these...

For diversity, it would be great to have examples of large systems in CYME and/or other formats.

If we cannot add "_famous_" test cas

[2018-05-04 05:27] bpalmintier commented on #78
Great to add examples, though if we already have 8500 and J1 that is likely plenty to demonstrate the power and functionality of ditto. Seems adding more formats using these same examples is likely more valuable than trying to add additional example feeders. Also, DS2 and DS3 are too big to burden the repository with. Everyone using DiTTo via git clone shouldn’t have to work with them. We can incl

[2018-05-04 05:51] bpalmintier commented on #78
Clarification: Ooops I see the challenge is with getting these larger
feeders in CyME format. What test systems do we already have for CyME? Do
we have running examples for other formats? GridLAB-D? Synergi? Seems
having a few examples in each may be enough. Still think the Smart-DS
datasets are too big to include.

On Thu, May 3, 2018 at 11:27 PM, Palmintier, Bryan <
Bryan.Palmintier@nrel.gov> wr

[2018-05-04 15:25] NicolasGensollen commented on #78
The approach we chose was to use small systems (4 and 13 node) for testing, and also include examples of larger systems.
IEEE 123 could potentially be used in both columns (still a little small compared to what we have in OpenDSS...).

So far we have:

| Format        | Test systems           | Example systems  |
|:------------- |:-------------:|:-----:|
| OpenDSS     | IEEE 4, 13 node | IEEE 8500

[2018-05-04 16:53] NicolasGensollen commented on #74
Looking at the reference OpenDSS model and this output, it looks like we have the following differences (the list is probably non-exhaustive and some differences come from different modeling of the system between OpenDSS and CYME):

### Source

- reference has a 115kV sourcebus connected to a 115/4.16 transformer (sourcebus/650)
- output starts at bus 650 (4.16kV)
- Bus 7 exists in output but not

[2018-05-04 18:51] jdlara-berkeley commented on #68
The issue is fixed when there is only a source, already validated it with other cyme data files. If I find more issues will re-open the issue.

[2018-05-04 18:51] #68 closed

[2018-05-04 19:49] NicolasGensollen commented on #74
The ```basekV``` is not set in the output file which explains the crazy per unit values. I'm still not sure why ```12.47``` was used as ```basekV```. When adding ```Set Voltagebases=[4.16, .48]``` to the output file, the results are much less crazy (but still far from acceptable...):

|           |         |         |           |        |         |        |
|-----------|---------|---------|-------

[2018-05-09 17:43] NicolasGensollen opened #80 "Inconsistent metric comparison when no LV data"
We realized this morning that some metrics that we use for validation behave in very different ways depending on the presence/absence of the LV network.
For example, the imbalance ratio is based on the load information, not on the distribution transformer's kva values. For the Duke feeders where there is no LV data, this imbalance ratio is computed only on MV loads while it is computed on MV+LV lo

[2018-05-09 20:33] NicolasGensollen commented on #78
Update after #79:

Format | Test systems | Example systems
-- | -- | --
OpenDSS | IEEE 4, 13 node | IEEE 8500 node and EPRI J1
CYME | IEEE 4 and 13 node | IEEE 123 node
Gridlab-D | IEEE 4, 13 | IEEE 123 node
Synergy | - | -
DEW | - | -

[2018-05-09 20:36] NicolasGensollen commented on #12
I'm closing this as we have a decent number of examples (see #79).
More examples might be added later (see #78).

[2018-05-09 20:36] #12 closed

[2018-05-09 20:37] NicolasGensollen commented on #67
@tarekelgindy, should we close this or is it still relevant?

[2018-05-10 21:43] NicolasGensollen commented on #60
Solved by #66

[2018-05-10 21:43] #60 closed

[2018-05-15 20:25] NicolasGensollen opened #84 "Units in models and parsers"
A few unit related problems I noticed:

- Unit conversions are currently managed in the parsers (most of the time hardcoded when setting the attribute value), which is hard to maintain.

Ex:
[code]

- Attribute units are not clear when looking at the DiTTo model. Sometimes there is some indication in the help but not always. In addition some names are misleading in terms of the unit assumed by DiT

[2018-05-16 19:56] NicolasGensollen opened #86 "ditto command already exists on MacOS"
Hey @kdheepak,

I believe other people will probably have this issue on Macs so it's probably better to post it here.
I changed my terminal configuration a couple days ago and I realized that all CLI tests were failing. I tried running a conversion with the CLI and I got the following:

[code]

[code]

It turns out the following ```ditto``` command is used: [ditto](http://osxdaily.com/2014/06/11/u

[2018-05-16 21:07] kdheepak commented on #86
That's unfortunate. Should we rename the command line to `ditto-cli`?

[2018-05-16 21:27] NicolasGensollen commented on #86
Yes, it breaks my heart. ```ditto-cli``` is fine I think.

[2018-05-16 21:29] kdheepak commented on #86
I did see that `ditto` already existed, but didn't think too many people would miss it. I did not consider PATH issues though. If your Python installation's bin directory e.g. `/Users/$USER/miniconda3/bin` is ahead of `/usr/bin`, then you should never have this issue. For reference, you can type `echo $PATH` to see where your Python bin directory lies relative to `/usr/bin`. If `/usr/bin` is ahead

[2018-05-16 21:52] NicolasGensollen commented on #86
Yes, you're right about the PATH settings.
Once #87 is merged, we can close this issue I think.

[2018-05-16 21:58] #86 closed

[2018-05-16 22:00] kdheepak opened #88 "Add `ditto-cli convert --list-readers` and `ditto-cli convert --list-writers`"
Currently the list of readers and writers are only available via the docstring. We should be able to print a list of all registered readers and registered writers.

[2018-05-17 03:59] bpalmintier commented on #86
Shoot. I wonder if a different name than ditto-cli would work, especially since cli is rather cryptic. One more drastic option might be to go with the modified spelling of “dito” or “dtto” or similar. Of these dtto keeps the full distribution transformation tool letters. We could even (begrudingly) rebrand things to use that everywhere. Alternatively, perhaps something that is more domain relevant

[2018-05-17 05:08] kdheepak commented on #86
`{name}-cli` is an extremely common pattern for command line interface tools, even in Python. I even found some examples from the first page of search results on Github for me [1], [2], [3]. All of them use `{name}-cli` pattern, and I don't think this will be confusing for users, especially if it is documented the way we have. Additionally, `ditto` will also work in the command line currently and

[2018-05-17 16:18] NicolasGensollen opened #90 "Cyme writer and post processing improvements"
To implement in the CYME writerr and/or post processing (from the May 17th meeting):

**Priority 1:**
- [ ] Overhead line unbalanced replaced by BY_PHASE_CONFIGURATION (at least for less than 3 phases) (Use DEFAULT spacing)
- [ ] Set unused condids to None instead of default
- [ ] Transformer core form should be changed to shell type

**Priority 2:**
- [ ] Segmentation (Feeder, TRANSMISION LINE, S

[2018-05-22 20:59] NicolasGensollen opened #96 "Incorrect network and source IDs in Cyme output"
When parsing the IEEE 8500 from OpenDSS to CYME, the network/source/headnode IDs are incorrect:

In ```[SOURCE]```: ```substransmission```
In ```[HEADNODES]```: ```sourcebus_src```
In ```[SECTION]```: ```sourcebus_src```

I'm afraid this will be similar for all "simple" systems where we don't provide a feeder mapping (like we are doing for RNM networks).

Output:
[code]

To reproduce, run the IEEE

[2018-05-22 21:55] NicolasGensollen opened #97 "Reactor objects not parsed: disconnected networks"
Looking into #96, I realized that the IEEE 8500 has a ```Reactor``` object connecting the ```SourceBus``` to the rest of the network:

[code]

This object is currently not parsed in DiTTo because we don't have ```Reactor``` objects in the models. So the output network is disconnected from the ```SourceBus```...

@tarekelgindy, do you have a preference for the way we deal with this? We could always

[2018-05-23 16:33] NicolasGensollen opened #99 "Export in different coordinate systems"
Looks like some people would be interested in having the possibility to export the networks to different coordinate systems (lat-long, UTM,...).
There are some packages in Python that do this pretty well (see [utm](https://pypi.org/project/utm/) for example), so it shouldn't be too difficult to implement.
Probably not top priority but it would be a nice feature to have...

[2018-05-25 15:34] kdheepak opened #102 "Autoformat code"
Consider using a python autoformatter for the code base for consistency. We should decide on one, and apply it before merging every PR.

[2018-05-25 16:07] NicolasGensollen commented on #102
Yes, good point. [autopep8](https://pypi.org/project/autopep8/) maybe?? Any preference on your side?

[2018-05-29 16:15] kdheepak commented on #102
We should merge/close all active PRs, reformat all the files, submit a new PR and merge it before starting any new PRs, and recommend all new PRs start from that point.

[2018-05-29 16:19] NicolasGensollen commented on #102
Ok. I agree. #100 should be ready to merge I think. I'll see with @tarekelgindy for #98

[2018-05-29 16:21] NicolasGensollen commented on #20
We can probably close this now that #103 is merged.

[2018-05-29 20:46] NicolasGensollen opened #104 "Add Imperial support to CYME parsers"
So far we only support SI units in CYME parsers. Adding a support for Imperial (especially needed in the CYME reader) shouldn't be to hard to implement while a more robust and general solution is implemented (see #84).

[2018-05-29 21:54] NicolasGensollen opened #105 "Small bug with Black autoformat of JSON files"
Example JSON configuration file ```./examples/ieee_13node_opendss_input.json```:

[code]

After running Black:

[code]

When trying to read it from Python:

[code]

you get the following error caused by the trailing comma:

[code]

[2018-05-29 22:04] kdheepak commented on #105
Black thinks the file is a Python dict, and added a comma to the end. That shouldn't have happened. I'll look into it.

[2018-05-29 22:07] NicolasGensollen commented on #105
@kdheepak, I might have raised this too fast. This is what I get when I open this JSON file and run Black as a vim plugin before closing it.
I don't think the pre-commit hook will do this if you change the json file and try to re-commit it.
So, #103 shouldn't cause this kind of problems.

[2018-05-29 22:14] NicolasGensollen commented on #105
Yes, the pre-commit ignores the file as expected.
Sorry for the "fake issue" notifications...

[2018-05-29 22:14] #105 closed

[2018-05-29 22:56] kdheepak commented on #105
No problem!

[2018-05-30 18:32] NicolasGensollen commented on #96
This should be solved by #98

[2018-05-30 18:32] #96 closed

[2018-05-30 22:03] #20 closed

[2018-05-31 02:52] jdlara-berkeley commented on #74
The conversion for some single - phase lines is producing 0.0 impedance values.
From the Cyme file I have these two lines

[code]
The unbalanced line 257 is correctly created, but not the 255. The resulting Lines.dss file shows the following

[code]

[2018-05-31 16:31] NicolasGensollen commented on #74
@jdlara-berkeley, are you doing CYME --> OpenDSS for the IEEE 13 node? I cannot find these lines in the network file ```tests/data/small_cases/cyme/ieee_13node```. What I have is:

[code]
And the output is:

*Lines.dss:*
[code]

*LineCodes.dss:*
[code]

Just looking at the two lines you have, they indeed share the same equipment ID but one of them (255) is way shorter than the other. I'm wondering

[2018-05-31 17:13] jdlara-berkeley commented on #74
@NicolasGensollen It is not the IEEE 13 Node, I have been working with non-public data and Ditto + OpenDSS.

After checking the OpenDSS data for this issue realized that the problem is on the conversion. I will increase the length and test again.

[2018-06-01 18:35] NicolasGensollen commented on #74
@jdlara-berkeley, thanks for the files.
I had a look and I believe the problem comes from the files, not from ditto.
I know the data is not public and I only display the problematic line in this comment. Let me know if you're not OK with that and I'll delete it.

The overhead lines are defined as:

[code]

And the equipment ```4035``` is the following:

[code]

So the impedance is 0 for phases B a

[2018-06-01 21:39] NicolasGensollen commented on #65
Hey @kdheepak, we faced this issue again today with @tarekelgindy when looking at OpenDSS files exported from WindMill. Basically, every line has the same name as its from node. This is not causing any issue in OpenDSS but it is very problematic when reading into DiTTo since we need to have name uniqueness. I believe Aadil will also have the same problem very soon with the WindMill parsers.

I was

[2018-06-01 22:00] kdheepak commented on #65
That is annoying. You can store `Transformer.Reg1` and `regcontrol.Reg1` as the names, but then you will have to split on `.` and discard the first part when using it as an attribute anywhere else. We cannot use a unique ID for every element since we don't know where it will be used later on in the circuit definition.

[2018-06-01 22:48] tarekelgindy commented on #65
One approach I was thinking about for this was to modify the decorator functions that use name lookups in store.py to also consider the type of an object when a lookup is made. This would require changing the underlying dictionary structure to index objects by both type and name. I'm not sure how well this would integrate into the codebase (e.g. if a reader/writer is looking up an object by name)

[2018-06-04 19:17] NicolasGensollen opened #108 "Support network protectors"
**Step 1: Modify API**
- [ ] Add network protector devices to the API

**Step 2: Update the parsers**
- [ ]  OpenDSS reader
- [ ] OpenDSS writer
- [ ] Cyme reader
- [ ] Cyme writer
- [ ] Gridlabd reader
- [ ] Gridlabd writer

[2018-06-04 19:25] NicolasGensollen opened #109 "Support Network Partitioning in CYME reader"
Make sure the CYME reader is able to parse the network structure of a system (Feeders, Subtransmission, Substation...).
This might also be a good reason to refine the API (Feeder_metadata...).

[2018-06-05 15:54] NicolasGensollen opened #110 "Default Values"
This is something we definitely have to do at some point. Currently, almost everything defaults to ```None```.

The easiest way would be to set static default values for equipments based on the most common equipments we found in utility data.

A better way would be to update the default values based on what was provided by the user. This probably means having an internal representation of equipmen

[2018-06-05 18:47] tarekelgindy commented on #110
This is a big issue we need to address. I'd like to allow the user to select whether or not they want to use suggested default values from a small library that we include within DiTTo.

[2018-06-05 20:19] NicolasGensollen commented on #65
I think this is more or less the same idea as what @tarekelgindy suggested above:
Would it be possible to implement a "nested dictionary like" structure to store the objects in your opinion?
By that I mean that when creating a line for instance

[code]

this line will be stored implicitly in ```model.models["lines"]``` or ```model.models.lines``` such that we can recover it through:

[code]

Or so

[2018-06-06 22:51] tarekelgindy opened #115 "Missing input data"
We need to check if the user hasn't provided data that's critical for the conversion and flag a warning or throw an error if that's the case. For example, if a wire is created with no phase information (e.g. A, B, C) then an exception should be thrown as this is critical for many of the operations that use wires.

[2018-06-06 22:54] NicolasGensollen commented on #97
Once #107 is merged we need to update the parsers for the formats that support reactors.

- [ ] OpenDSS reader
- [ ] OpenDSS writer
- [ ] CYME reader
- [ ] CYME writer
- [ ] GridlabD reader (not sure)
- [ ] GridlabD writer (not sure)

[2018-06-06 23:00] NicolasGensollen commented on #115
I think we should first list all these elements for each object and then add something to the API that indicates that the attribute has to be provided. Something like:

[code]

Then, make sure in the parsers that whenever a required attribute is not provided an error (or a warning) is raised.

Finally, update the doc to let the user know about this.

[2018-06-07 16:38] NicolasGensollen opened #117 "Add unit tests and validation tests"
**Priority 1**
Basic unit tests checking that values are parsed correctly (this shouldn't be too hard to implement)

**Priority 2**
Tests performing power flows on the input and output and compare them. Ideally, we shouldn't allow any merge that worsen the quality of a conversion (should be possible for OpenDSS, seems much more complicated for other formats)

[2018-06-07 23:22] tarekelgindy opened #118 "ensure disabled elements in OpenDSS aren't parsed"
We are currently parsing elements from opendss even if enabled=n. We should fix this in the opendss reader

[2018-06-13 20:52] NicolasGensollen opened #119 "Add ephasor writer to the CLI"
Probably needs some tests too.

[2018-06-13 21:39] tarekelgindy commented on #119
I think it'd be good to make these additions to the test_mainfunctions branch. The idea of this branch is to make the example files in the tests folder be callable python files too. It might be worth simplifying some of these files into "hello world" cases and adding them to the examples folder.

[2018-06-16 16:12] NicolasGensollen opened #120 "Add multirecorder objects to Gridlab-D reader"
Not sure if this is top priority or not, but it seems like we should have this capability at some point.

[2018-06-18 19:02] NicolasGensollen opened #121 "Add Windmil reader"
Submit PR when ready.

[2018-06-18 19:05] NicolasGensollen opened #122 "Add Synergi reader"
Submit PR when ready.
Also need to make sure that all API modifications are necessary and not redundant (@xzhu1991, let me know if I can help you with that).

[2018-06-18 19:09] NicolasGensollen opened #123 "Update the Gridlab-D writer"

[2018-06-18 19:11] NicolasGensollen opened #124 "Add Windmil writer"

[2018-06-18 19:17] NicolasGensollen commented on #117
Todo list for milestone First Validation:

- [ ] Automatic validation script
- [ ] Need to solve #65 to make sure we can compare power flows
- [ ] Run the power flows and plot histograms

[2018-06-19 19:45] NicolasGensollen commented on #109
@tarekelgindy, I've been thinking about this and I think we should rework the API to have something simpler and cleaner. I think the following steps should give us something much easier to understand:

- Remove the ```Feeder_Metadata``` class (really messy and nobody really understands what it's supposed to do...)
- Create a ```SubNetwork``` class:

[code]
- Change all ```feeder_name``` attributes

[2018-06-19 20:42] NicolasGensollen commented on #118
Should be solved by #125

[2018-06-19 20:42] #118 closed

[2018-06-20 19:30] mahi001 opened #127 "Problem with installation"
Hi, the following code in cmd `pip install git+https://github.nrel.gov/NREL/ditto.git@master` is returning the attached error.

 Cloning https://github.nrel.gov/NREL/ditto.git (to master) to c:\users\mrahman\appdata\local\temp\pip-f24kzqz8-build
fatal: unable to access 'https://github.nrel.gov/NREL/ditto.git/': Could not resolve host: github.nrel.gov
  Complete output from command C:\Users\mrahman

[2018-06-20 19:52] kdheepak commented on #127
@mahi001 Can you change the command line to the following and try again?

[code]

[2018-06-20 19:52] NicolasGensollen commented on #127
Hi,
Could you try using

[code]
instead of:

[code]

which is pointing to the previous internal NREL repo.

On a side note, it looks like ```installation.md``` needs some updates (at least for a few lines...).

[2018-06-20 19:55] kdheepak commented on #127
I made the change in 41da698e4973db5329cca930aaa416ee80a04e20 and pushed it directly to master.

[2018-06-20 20:12] mahi001 commented on #127
After updating the installation link I am getting the following error

`TypeError: Type str doesn't support the buffer API

----------------------------------------
Cleaning up...
Command python setup.py egg_info failed with error code 1 in C:\Users\mrahman\AppData\Local\Temp\pip-h7hhwyyb-build
Storing debug log for failure in C:\Users\mrahman\pip\pip.log`

P.S. My python version is 3.4.1, and pip

[2018-06-20 20:38] kdheepak commented on #127
Hmm. Can you share the full stacktrace? Or share the `pip.log` file. I'm able to install it in my Python 3.4.5 installation.

[2018-06-20 20:45] kdheepak commented on #127
I'm testing this with Python 3.4.1 and find the same error message. Full traceback is below:

[code]

[2018-06-20 20:56] kdheepak commented on #127
Once PR #128 and PR #129 are merged, this issue will be resolved.

[2018-06-20 21:02] kdheepak commented on #127
@mahi001 Can you try again now? It should work.

[2018-06-20 21:04] kdheepak opened #130 "Tests failing in Python 3.4.x"
Test failure log below:

[code]

[2018-06-20 21:51] mahi001 commented on #127
The error shows up a lot later this time and as below @kdheepak  @NicolasGensollen . I can send you the log file as well.

`C:\Users\mrahman>pip install git+https://github.com/NREL/ditto.git@master
Downloading/unpacking git+https://github.com/NREL/ditto.git@master
  Cloning https://github.com/NREL/ditto.git (to master) to c:\users\mrahman\appdata\local\temp\pip-sh0jdxa8-build
  Running setup.py (p

[2018-06-20 21:52] NicolasGensollen commented on #130
Hmmm, this looks like issue #22 that we solved a long time ago.
I don't understand why you get this error.

Could you tell me what example system is causing this? (I guess CYME IEEE 4 node).

When I add the following to the abstract reader:

[code]

I don't have any error when parsing the IEEE 4 node and 13 node. Could you try on your side?

[2018-06-20 21:57] kdheepak commented on #127
Can you try using Miniconda3 instead?  Or do you have to use the standard Python installation. Installing dependencies in standard Python on Windows can be challenging. If you are restricted to using the Python installation you have on that machine let me know. I'll have to spin up a Windows VM with that specific version of Python to see if I can replicate the same issue.

[2018-06-20 22:17] NicolasGensollen commented on #130
@kdheepak, I'm wondering if this could be linked to the version of Numpy you are using when running these tests. The line

[code]

might be the source of the problem here.

[2018-06-20 22:39] kdheepak commented on #127
@mahi001 I edited some of the formatting on your comment so that I could read the error more clearly. It seems like there was a permission issue. You might have to resolve that before the installation can proceed.

Can you also try the following two commands and report the output back separately?

[code]

[code]

You can use three backtick marks to fence the output, so that it is formatted appropr

[2018-06-20 22:45] kdheepak commented on #130
Interesting. I upgraded to `1.14.5` and now the tests all pass. Great! Thanks for identifying the issue so quickly. It might be worth adding to the documentation. Also, if we are using numpy we should add it to the requirements install_requires, even if we know it will be installed as part of pandas or other dependencies. We can then ensure we get a specific version of higher of numpy.

[code]

[2018-06-20 22:53] NicolasGensollen commented on #130
I agree for explicitly adding Numpy to the requirements.
I approved #132 which should solve this issue.

[2018-06-20 22:56] #130 closed

[2018-06-20 23:52] NicolasGensollen opened #133 "Load shape error in the Gridlab-D reader"
When trying to parse ```R1-12.47-1.glm```.

[code]

@tarekelgindy, feel free to add more details to this issue (I only have the Traceback from the email we received...).

[2018-06-21 14:06] mahi001 commented on #127
Do we need to have C++ for this?

`$ pip install croniter`

[code]
...........................................................
`$ pip install lxml`
[code]

[2018-06-21 15:02] kdheepak commented on #127
You wouldn't need a C++ compiler if you used Anaconda/Miniconda, but it appears for standard Python 3.4.1 on Windows you need a C++ compiler to install lxml. I've submitted a PR to make lxml optional. Once that PR is merged, you should be able to install it.

[2018-06-21 16:13] kdheepak commented on #127
@mahi001 can you try again?

[2018-06-21 19:53] NicolasGensollen opened #136 "Improve Documentation"
** Basic**

- [ ] Hello world example for reading and writing (in the docs, one page). Have the input as plain text.
- [ ] 2 line example in the README to check that DiTTo is installed correctly (link to download example).
- [ ] Add an explicit link to Gitter
- [ ] Add a logo for DiTTo
- [ ] Do a nice introduction page with figures and explanations on the different formats
- [ ] Add CLI examples t

[2018-06-21 20:06] mahi001 commented on #127
Installation update:
Status: Not Installed

`$ pip install git+https://github.com/NREL/ditto.git@master`

[code]

[2018-06-21 20:20] kdheepak commented on #127
Can you type `where pip` and tell us the results. I'm also on Gitter, if you want to chat there.

[2018-06-21 20:27] mahi001 commented on #127
`$ where pip`
[code]

[2018-06-21 20:48] NicolasGensollen commented on #102
Done in #137

[2018-06-21 20:48] #102 closed

[2018-06-21 20:53] kdheepak commented on #127
This is probably not going to solve the issue, but I'm curious what will happen if you try the following. From your previous log, it seemed like the pip was using an old installation (web cache?). The following line will point it to the latest commit.

[code]

[2018-06-21 21:01] NicolasGensollen commented on #65
- [ ] **Step 1:** Update ```Store.py``` and ```Base.py``` to enable this functionality. Basically when the object type and the name are both specified we should have unicity. When we query the model with only the name, the output should be all objects with this name. @kdheepak

- [ ] **Step 2:** Update the parsers and post-processing pieces  @tarekelgindy and @NicolasGensollen

[2018-06-21 21:01] mahi001 commented on #127
Update:
Status: Not installed
Number of attempts: 2

First Attempt:
`pip install git+https://github.com/NREL/ditto.git@c4daec5`
[code]
Manually deleted the ...\pip_build_mrahman folder and attempted 2nd time

Second Attempt:

`$ pip install git+https://github.com/NREL/ditto.git@c4daec5`
[code]

[2018-06-21 21:12] NicolasGensollen opened #138 "Make DiTTo Conda installable"

[2018-06-21 21:24] kdheepak commented on #127
DiTTo currently uses Pandas, NumPy and SciPy, which are all Python dependencies that depend on C/C++/Fortran code. We can make a version of DiTTo available that does not use these dependencies, but then there will be some features you will not have access to. I highly recommend installing and using `conda` (See [Anaconda](https://www.anaconda.com/download/)/[Miniconda](https://conda.io/miniconda.h

[2018-06-21 21:27] kdheepak opened #139 "Separate dependencies so that installation is more modular"
Currently installing DiTTo requires dependencies that may or may not be used. For example, if a user is going to read from Cyme and write to GridLAB-D, there should be no need to install OpenDSSDirect.py. There are similar installation issues when it comes to Pandas/NumPy/SciPy depending on the version of Python being used (See #127).

[2018-06-21 21:38] #78 closed

[2018-06-21 23:56] kdheepak opened #141 "Remove use of eval in json reader"
See [here](https://github.com/NREL/ditto/blob/f366600/ditto/readers/json/read.py#L138).

[2018-06-22 00:02] kdheepak commented on #127
Once #140 is merged, core DiTTo will be close to a pure Python package you will be able to install the core of DiTTo easily. However, to actually use it you'll need some of the dependencies that the plugins are using. This means you'll still need to install Pandas/NumPy/SciPy depending on what readers, writers or metrics you require.

[2018-06-22 00:14] NicolasGensollen commented on #88
Solved in #140

[2018-06-22 00:14] #88 closed

[2018-06-22 05:10] kdheepak commented on #127
@mahi001 You can try again now, the default installation should give you the core pure Python DiTTo. Additional installation requirements can be added using the extras.

e.g. default pure Python core DiTTo

[code]

Additional dependencies

[code]

Full list of options for extras can be seen [here](https://github.com/NREL/ditto/blob/54296f4/setup.py#L111-L124).

[2018-06-22 05:11] kdheepak commented on #127
In my shell, I need to make sure that the last argument is in double quotes (`"`):

e.g.

[code]

[2018-06-22 05:24] #139 closed, assigned to kdheepak

[2018-06-22 14:25] etimberg opened #142 "CYME Overhead Unbalanced Transposed Property cannot be imported to CYME 8.0 r6"
# Issue
I found the GSO network had been run through DiTTO and converted into CYME format on [EGridData](https://egriddata.org/dataset/greensboro-synthetic-network/resource/7e16c56a-a757-49a2-916c-4d915c8e3a2b). I tried to import this into CYME 8.0r6 however I ran into problems with the equipment definition for Unbalanced overhead lines.

In the [cyme writer](https://github.com/NREL/ditto/blob/a86

[2018-06-22 14:59] NicolasGensollen commented on #142
@etimberg, I had the same issue when we decided to add this property. It seems like this was added very recently and I had to update my version of Cyme to get it working.

We are currently using ```BYPHASE``` configuration for 1 and 2 phase lines and ```UNBALANCED``` lines for 3 phase lines and were thinking about outputting everything as ```BYPHASE``` configurations (point 9 of #90). I'll have to

[2018-06-22 15:04] NicolasGensollen commented on #141
Yes, my bad...
Probably a stupid question: I'm storing the class of the object as a string. Do you see a better way to instantiate the object from that?

[2018-06-22 19:50] NicolasGensollen opened #143 "Parse Intermediate nodes in CYME reader"
Not the highest priority since this only affects the display.

[2018-06-22 21:29] etimberg commented on #142
Cool! I'll try updating and see how it goes.

Everything as `BYPHASE` configuration might make things simpler. Certainly it's easier than writing the exporter to have optional output versions.

[2018-06-27 21:29] NicolasGensollen commented on #122
Hey @xzhu1991,
I know the milestone for this says 31st of July, but I'd like to start trying parsing the representative feeders that we will receive from LA100 a bit sooner to make sure we'll have the time to perform the hosting capacity analysis. We will probably receive the data between early July and mid July (@bpalmintier might have more insights on the exact date).

I think we should update y

[2018-07-20 19:16] tarekelgindy opened #147 "Pre-commit hooks not working with python environment"
@kdheepak
I seem to have problems getting the black pre-commit hooks to work properly with my virtual environment on Peregrine. Any idea what the issue here might be?

Return code: 100
Expected return code: 0
Output:
    Using base prefix '/home/telgindy/anaconda2/envs/py36'
    New python executable in /home/telgindy/.cache/pre-commit/repojjkyn0u8/py_env-python3.6/bin/python3.6
    Also creating

[2018-07-20 20:10] kdheepak commented on #147
Can you use conda environments instead of `virtualenv`?

[2018-07-20 20:16] tarekelgindy commented on #147
I believe that I currently am. The environment I'm using is located here:

and was created using

it's activated using

[2018-07-20 20:49] kdheepak commented on #147
Can you try the following?

[code]

[2018-07-20 21:59] tarekelgindy commented on #147
We solved this in a pretty ugly way.
Firstly
`conda install virtualenv`
`conda install pre_commit -c conda-forge`

As per this issue here: https://github.com/pre-commit/pre-commit/issues/701

This uses a version of virtualenv that's compatible with conda.

We then had an issue with pip in virtualenv. It was configured to use pip 10 but we had to downgrade it to pip 9 as per this issue: https://git

[2018-07-20 21:59] #147 closed

[2018-07-24 15:22] NicolasGensollen opened #149 "Update center-tap load parsing"
We need to update the way center-tap loads are parsed. See #146 for the API modifications and #148 for the CYME writer.

- [ ] OpenDSS reader
- [ ] OpenDSS writer
- [ ] CYME reader
- [ ] GridlabD reader
- [ ] GridlabD writer
- [ ] Ephasor

[2018-07-24 17:40] tarekelgindy opened #150 "Kron reduce Geometries on OpenDSS writer"
When writing line geometries, we need to check if there is a neutral wire. If so we need to add the kron reduction flag. Currently a 4 wire line geometry for a 3 phase line will not function properly because OpenDSS doesn't know how to interpret 4 wires in a three phase line.

This fix should be as simple as checking if there's a neutral wire on the line and setting reduce=true in the line geometr

[2018-07-26 19:46] tarekelgindy opened #155 "Check for empty dataframes from OpenDSSDirect"
If the Master.dss file is incorrectly formatted, the OpenDSS reader will silently fail. However, it will contain empty arrays of equipment and will typically fail elsewhere. This should be modified to provide error or warning messages when nothing is read from the Master file.

[2018-07-27 18:34] #119 closed

[2018-07-31 21:17] NicolasGensollen opened #157 "Wire resistance should be per unit and not total"
The ```resistance``` attribute of ```Wire``` is representing the total resistance of the wire which causes some issues. For example, when writing to OpenDSS, different wire types will be created just because the resistance is different (because the lengths of the lines are different):

Here is an example where a wire ```#6BC``` is outputted in multiple wire data only because of different lengths:

[2018-08-01 16:01] kdheepak commented on #84
Unfortunately, as a general statement, Python doesn't have a good solution for units. Though, for our specific use case we may be able to find something that works. `Pint` may not play well with `traitlets`, I haven't tested it but from looking at the source code it seems like both `Pint` and `traitlets` make heavy use of descriptors and subclass constraints (using `__new__`), and that may mean th

[2018-08-01 19:27] NicolasGensollen opened #158 "Synergi --> OpenDSS impedance matrices are off"
Hi @xzhu1991,

Pete and I are trying to convert some feeders from Synergi to OpenDSS and it seems like the impedance matrices in the output are off.

Looking at the reader code, it looks like this is where the conversion between sequence impedances and phase matrices takes place:

https://github.com/NREL/ditto/blob/5a7c5029320fa2d97a16618436a6f8e6ed91b959/ditto/readers/synergi/read.py#L702-L757

I

[2018-08-01 19:49] xzhu1991 commented on #158
I could not open Synergi on my laptop. If you open Synergi, you should be
able to see the length unit of the lines.

I asked Aadil before about the length unit. It should be mile.

I updated the coefficient on my new code. But I haven't push them to github
yet.

The correct one should be: coeff = 1/4827 , basically from mile to meter (
1/1609), and multiply 1/3.

On Wed, Aug 1, 2018 at 1:29 PM, Ge

[2018-08-01 22:25] NicolasGensollen commented on #158
Thanks for your answer @xzhu1991

This is the solution I came up with for now (see ff6d8a90adbb78ff647b1650b9b8798edb392767):

[code]

I still need to make sure the conversion is not introducing other errors in the impedance matrices.

[2018-08-02 17:58] NicolasGensollen opened #159 "Zero height conductors"
When converting from ```Synergi``` to ```OpenDSS``` I have conductors which have a height of zero:
For example:

**input**

ConfigName | Position1_X_MUL | Position1_Y_MUL | Position2_X_MUL | Position2_Y_MUL | Position3_X_MUL | Position3_Y_MUL | Neutral_X_MUL | Neutral_Y_MUL
-- | -- | -- | -- | -- | -- | -- | -- | --
Cable 12.5kV duct | 0 | 0 | 0 | 1 | 0 | 2 | 0 | 3

This seems to raise an error in

[2018-08-03 17:02] NicolasGensollen opened #160 "Bugs in Transformers KVA values"
There seems to be inconsistencies between readers, writers, and metric computation module about the transformers KVA values. Since this is a ```Winding``` attribute, some parsers divide the transformer's KVA by the number of windings and some don't. Likewise some writers sum across windings while some don't... This is confusing and currently creating a lot of bugs.

For example, the bug fix #144 s

[2018-08-03 17:03] NicolasGensollen commented on #160
Might also be the opportunity to take care of #49...

[2018-08-03 20:31] NicolasGensollen opened #161 "Segfault when running some output OpenDSS Master file with OpenDSSdirect.py"
The master file generated by the ```OpenDSS``` writer can still lead to segfaults in ```OpenDSSdirect``` in the following situation:

- ```Redirect Capacitors.dss``` is before ```Redirect Lines.dss```
- At least one of the ```CapControls``` monitors a line object

[2018-08-03 21:37] kdheepak commented on #138
We need releases on GitHub for this to work. Can you make a tagged release?

[2018-08-03 22:10] kdheepak commented on #138
I made it such that you can `conda install -c kdheepak ditto`. See https://anaconda.org/kdheepak/ditto.

Right now the only test I'm doing is checking is the python package imports, i.e. `import ditto`. I'm not checking if all functionality works correctly. This also assumes that the current latest master is a release, and that is what is being packaged; i.e. this commit hash: a6d5cacb30429cfb03d4

[2018-08-04 02:06] NicolasGensollen commented on #138
Thanks @kdheepak for looking into this! I'll see early next week with @tarekelgindy which PR we want to merge and which bugs we want to solve before making a release.

[2018-08-04 02:27] kdheepak commented on #138
Great! There's one branch that I pushed that I'd like merged before tagging.

[2018-08-06 15:51] NicolasGensollen commented on #138
I'd really like to merge #152, #154, and #162 before tagging.
Also, fixing issues #157 and #160 would be nice.
@tarekelgindy, let me know what your thoughts are on this.

[2018-08-06 16:29] NicolasGensollen commented on #122
Merged to Master in #154
Feel free to try this @xzhu1991 and let me know if you find issues.

[2018-08-06 16:29] #122 closed

[2018-08-06 16:41] NicolasGensollen commented on #161
BugFix #162, merged through #154 should have solved this.

[2018-08-06 16:41] #161 closed

[2018-08-06 19:09] NicolasGensollen commented on #158
Hi @xzhu1991, I'm not sure I understand this code in the Synergi reader when you compute the impedance matrix for a two phase line:

[code]

It seems like ```r1``` and ```x1``` are not used.

[2018-08-06 23:23] NicolasGensollen opened #164 "LineGeometries and WireData are not parsed by OpenDSS reader"
This is partly related to the OpenDSSdirect issue: https://github.com/NREL/OpenDSSDirect.py/issues/19

@kdheepak, should I find a way around using ```class_to_dataframe``` to fix the reader?

Looking at the OpenDSS reader's code, I'm also expecting a lot of unit conversion errors once we will be able to read these in...

[2018-08-06 23:26] NicolasGensollen commented on #164
@tarekelgindy: The ```Wire``` model do not specify any units for quantities like ```gmr```, ```diameter```, ```X```, ```Y```, and so on. Are we assuming meters for everything even if a smaller unit would make more sense?

[2018-08-07 16:38] NicolasGensollen commented on #84
@tarekelgindy  and I had a discussion on this subject this morning. The following is a possible solution we came up with:

Change the models and add a ```unit``` and a ```unit_type``` keyword:

For example, in ```wire.py```:
[code]

In the readers, the attribute setting should be changed to:
```read.py```
[code]

The ```set``` function has to be implemented in the base class. It probably has to ch

[2018-08-07 16:42] kdheepak commented on #84
It might work well. Why do we need `unit_type`?

[2018-08-07 16:43] kdheepak commented on #84
I'll also need to prototype this or see a prototype and experiment to see if it works as intended.

[2018-08-07 16:46] NicolasGensollen commented on #84
We might need unit type to avoid stuffs like:

[code]

There might be other ways to do that though...

[2018-08-07 18:10] NicolasGensollen commented on #84
I'm trying to see what I can do with that but I have troubles getting the attributes' kwargs in the ```DiTToHasTraits``` class where I am implementing the ```set``` function. I need to get the unit information defined in ```wire.X``` for example. I can get the values using ```_trait_values``` but not the other arguments (```help```, ```unit```, ```unit_type```...)

This is what I get when I print

[2018-08-07 20:36] kdheepak commented on #84
I'm able to do something like this:

[code]

but I still need to think about this more before we commit to doing it this way. Specifically, the `set` method is not ideal. And I still don't see a strong need for `unit_type`. That may be valuable for developers but I don't see it valuable for users.

[2018-08-07 23:10] NicolasGensollen commented on #164
Example of code from the OpenDSS reader that concerns me:

[code]

I don't see any reason why the GMR and Diameter of a wire would be stored in kilometers in DiTTo...

[2018-08-10 15:16] NicolasGensollen commented on #84
Thanks for having a look @kdheepak , I'll try again then.
We might not need to expose ```unit_type``` to the user but I think we need to have a way to check that the units given by the user make sense.
I'm changing the priority of this since it is creating a lot of errors currently.

[2018-08-13 16:57] NicolasGensollen commented on #159
Solved in #168.

[2018-08-13 16:57] #159 closed

[2018-08-15 16:04] NicolasGensollen opened #173 "Break lines in the OpenDSS output"
Not top priority, but it looks like this would be appreciated, especially with ```LineGeometry``` , ```Transformers```, or ```WireData```.

**Current output style:**
[code]

**Desired output style:**
[code]

[2018-08-17 17:31] jd-lara opened #177 "Underground lines not parsed"
While trying to parse CYME files with an underground line the OpenDSS output doesn't include the line.
The file are located [here](https://github.com/jd-lara/TTA_BahiaNegra/tree/master/BN), and in the folder DSS_files you can find the resulting OpenDSS output where in Lines.dss line `BNA1_260` doesn't show up.

The code for the conversion is [here](https://github.com/jd-lara/TTA_BahiaNegra/blob/ma

[2018-08-17 18:02] NicolasGensollen commented on #177
Hey @jd-lara,

Looking at the equipement file, the concentric neutral cables are defined under the header ```[CONCENTRIC NEUTRAL CABLE]``` while the cyme reader looks for them under the header ```[CABLE CONCENTRIC NEUTRAL]``` which is the header specified in the the CYME documentation v.8.0 rev.1-0.

So, if you replace ```[CONCENTRIC NEUTRAL CABLE]``` by ```[CABLE CONCENTRIC NEUTRAL]``` in your eq

[2018-08-17 19:15] NicolasGensollen commented on #177
@jd-lara, I submitted a PR (#178) which should solve this in a better way than forcing the user to edit the ASCII files.
Once merged, you'll be able to use ```[CONCENTRIC NEUTRAL CABLE]``` or ```[CABLE CONCENTRIC NEUTRAL]```.

[2018-08-17 19:16] jd-lara commented on #177
Thanks, I will update and test.

[2018-08-18 00:39] NicolasGensollen opened #179 "Synergi-->OpenDSS underground section bug"
Bug discovered when converting underground lines from ```Synergi``` to ```OpenDSS```.

In this situation the input is an underground section where the wires are defined as for overhead lines but the spacing has negative heights. This is parsed into DiTTo in the exact same way the overhead lines are parsed. When writing to OpenDSS, this is exported as a LineGeometry with negative heights which rais

[2018-08-20 20:46] tarekelgindy commented on #49
Update: We're planning to use windings for all regulators and remove the connected_transformer attribute from the API and all readers and writers. This will be rolled out in a future pull request.

[2018-08-21 22:13] NicolasGensollen commented on #164
Should be solved by #176

[2018-08-21 22:13] #164 closed

[2018-08-21 22:15] NicolasGensollen commented on #177
@jd-lara, #178 has been merged.
This should work as is without any modification on the ASCII files.

[2018-08-24 19:35] kdheepak commented on #84
Here's a prototype of something that could work in DiTTo.

[code]

[2018-08-24 19:46] NicolasGensollen commented on #84
**Steps to start integrating units:**

- [ ] Add units to each model attribute (see #180)
- [ ] Move `Parser` code to `model` classes
- [ ] Update tests from `test_parser.py`

- [ ] Write the `set` function `set(attribute_name, attribute_value, unit)` in `Base` class
- [ ] Implement `set_missing_attributes` in the `Base` class and overwrite in the subclasses

**To think**
- [ ] How to integrate th

[2018-09-11 18:43] yvelaga opened #183 "Errors for PNNL Taxonomy Feeders Conversion from glm to DSS"
Hi,

I am using the DiTTo tool for the first time. I have installed using pip in Anaconda. There are couple of errors for two feeders I tried to convert using simple python script (attached). Here are those:

1. Heron area is negative for R1-12.47-1.glm
2. Transformer BasekV list has "None"
3. Heron area is infinity for R1-12.47-2.glm

I tried to solve the first two errors. I have no idea why the

[2018-09-11 18:49] NicolasGensollen commented on #183
Hi @yvelaga, I'm not sure I understand, did the code crash because of the infinite area or do you see weird things in the DSS output files?
The Python conversion script looks perfectly fine.
I'm tagging @tarekelgindy who knows more than me about the Gridlab-D reader.

[2018-09-14 22:13] tarekelgindy commented on #183
Hi @yvelaga

Thanks a lot for raising this issue. This also relates to issue #28. Two of the points that you raised in here were bugs in DiTTo - 2 phase underground lines were not being handled correctly and the OpenDSS writer was not checking for Nonetypes when iterating over transformer windings. I've addressed these in the most recent pull request.

The second issue that you raised is a bit mor

[2018-09-17 20:44] jd-lara commented on #177
The fix works, thank you.

[2018-09-17 20:44] #177 closed

[2018-09-20 19:40] yvelaga opened #185 "Schema.Json is Missing with Conda Install"
Hi @kdheepak, @tarekelgindy

When I installed ditto using conda, schema.Json is missing from installation files. I have to put it there manually. Recently, when I updated the ditto using pip, file did not get updated.

Please let me know if you have any questions.

[2018-09-20 19:45] kdheepak commented on #185
The `conda` recipe is waiting on DiTTo to have a tagged release (See reference #138). @NicolasGensollen @tarekelgindy where are we with a tagged release of DiTTo?

[2018-09-20 19:55] NicolasGensollen commented on #185
@kdheepak, checking with @tarekelgindy right now. We can probably do a `1.0.0-alpha.1` release right now with what we have in master to solve #138 and this issue, even if we still have some bugs we'd like to solve.

[2018-09-20 21:13] tarekelgindy commented on #185
I agree with that. There's a final pull request I've just added now but honestly we're overdue for a tagged release.

version `1.0.0-alpha.1` sounds good to me.

[2018-09-20 21:59] NicolasGensollen commented on #185
@kdheepak, just did a release after merging #186.

[2018-09-21 21:18] NicolasGensollen opened #188 "Pandas-access not working on Windows"
Looks like reading MDB databases on a Windows machine through pandas-access is not working. So using the Synergi reader on Windows is raising a `FileNotFoundError`...

In other words, doing the following on Windows seems to crash:
[code]
[code]

A quick and dirty fix could be to have to `db_parser.py`, one for windows using previous code from @AadilLatif and one for Mac OS and redirect the right o

[2018-10-02 13:01] kdheepak commented on #188
`mdb-tables` is a command line tool that needs to exist in order to perform this function. See [here](https://github.com/jbn/pandas_access/blob/3c08bef8e0fc180774e3a6b58b06450c8b6aa15e/pandas_access/__init__.py#L25).

[2018-10-02 17:03] NicolasGensollen commented on #188
I believe @tarekelgindy was able to get this working on his Windows. I believe he had to install `mdb-tools` manually. Could you confirm this @tarekelgindy? If so, we should probably add that to the dependencies in some way (or at least write some documentation on what to do).

[2018-10-02 19:29] tarekelgindy commented on #188
The way that i got this working on windows was to use some pre-compiled files located on this repository:
https://github.com/lsgunth/mdbtools-win

I cloned this repo, added the location to the install path and then mbd-tables was able to be run.

The mdbtools repository is located here:
https://github.com/brianb/mdbtools/

and @NicolasGensollen used homebrew to install it on mac. I think you could

[2018-10-05 20:47] kdheepak opened #189 "Add example for modifying existing feeder"
Add an example to the repository that does the following

1) reads a feeder
2) modifies some parameters and,
3) writes back the feeder.

cc @tarekelgindy

[2018-10-08 20:07] NicolasGensollen opened #190 "List of DiTTo attribute"
Looks like at least @kdheepak and @ajain would be interested in having a list of the smallest subset of attributes required to do a conversion and run power flow.

[2018-10-10 22:47] NicolasGensollen commented on #190
Also realized that this is linked to #115 to some extent. This list of attributes should basically be the list of required inputs.

[2018-10-10 22:55] NicolasGensollen commented on #65
@tarekelgindy, looks like we never really did anything here...
Could this be a possible task for Bhavya?

[2018-10-10 23:06] NicolasGensollen commented on #179
@tarekelgindy, I believe this will be solved once your branch is merged.

[2018-10-10 23:09] NicolasGensollen commented on #110
The LA100 conversion work will probably need this capability, which means pretty soon...
Changing the priority and assigning my self.

[2018-10-10 23:12] NicolasGensollen commented on #49
@tarekelgindy, did we remove all the connected transformer stuffs?

[2018-10-11 14:58] NicolasGensollen commented on #104
Once #84 will be solved properly, this will be pretty straightforward.
Putting it on hold until #84 is done...

[2018-10-11 20:00] bpalmintier commented on #117
Can we separate this into test vs. validation a separate issues.

[2018-10-11 20:18] NicolasGensollen opened #193 "Add Validation Framework"
Splitting #117 in 2 separate issues as suggested by @bpalmintier.
#117 is now related to unit testing only while this one is about validation only.
Setting the priority as `Medium` since unit testing needs to be done first.

[2018-10-11 20:19] NicolasGensollen commented on #117
Validation is now in a separate issue (#193).

[2018-10-19 17:36] kavuribhavya opened #202 "Unable to use "git commit""
When I try to use the command "git commit -m "Message"", I see the below error:

[code]

I am using this command for the first time after the ditto installation.

[2018-10-19 17:38] NicolasGensollen commented on #202
@kdheepak do you have any idea about that? I had a look with @tarekelgindy but we weren't able to solve it...

[2018-10-19 17:43] kdheepak commented on #202
I recommend installing Miniconda3. And then make sure you have precommit
and black installed, which should happen if you use the correct pip install
invocation.

On Fri, Oct 19, 2018, 11:38 AM Gensollen <notifications@github.com> wrote:

[2018-10-19 17:44] kdheepak commented on #202
Oops, I didn't see that you already are using Anaconda. Uninstall your
default Python3 install.

On Fri, Oct 19, 2018, 11:42 AM Dheepak Krishnamurthy <kdheepak89@gmail.com>
wrote:

[2018-10-19 17:46] kavuribhavya commented on #202
I don't have Python3 installed other than the Anaconda's python.

[2018-10-19 18:44] kavuribhavya commented on #202
1. Installed Anaconda and added ```/c/Users/bkavuri/AppData/Local/Continuum/anaconda3/Scripts``` to PATH
2. Created a python3.6 environment and activated it
3. Installed ditto with ```pip install git+https://github.com/NREL/ditto.git@master#egg=ditto[all]```

The path ```C:\python3\python.exe``` doesn't exist.

[2018-10-19 18:56] kdheepak commented on #202
Clone this git repository and use the `dev` target instead of `all`. See [here](https://nrel.github.io/ditto/developer-guide/install.html).

[2018-10-19 19:06] kavuribhavya commented on #202
It gives me the same error,

[code]

[2018-10-19 19:10] kdheepak opened #203 "super types not called"
We should change the following

[code]

to

[code]

See [here](https://github.com/NREL/ditto/blob/e1af2df/ditto/writers/gridlabd/write.py#L37)

[2018-10-19 19:11] kdheepak opened #204 "Fix logging"
Loggers are being instantiated in the body of classes which can be very annoying for other people using DiTTo as a library.

[2018-10-19 19:16] kdheepak commented on #202
Well that's annoying. Are you using a Python conda environment?

[code]

Can you try the above and paste the logs here?

[2018-10-19 19:47] kdheepak commented on #202
Hmm. Did you try committing again? Maybe you can't use 3.7? You may have to use Python3.6. Can you try running the same with explicitly specifying the Python environment?

[code]

[2018-10-19 19:57] kavuribhavya commented on #202
Yes, I did try to commit again and got the same error.

I run everything with specifying the Python version and I still get the same error. Am I missing something ?

[code]

[code]

[2018-10-19 20:49] kdheepak opened #206 "Fix deprecation warnings in ditto"
See [here](https://travis-ci.org/NREL/ditto/jobs/443857964#L1214-L1427).

[2018-10-19 21:55] NicolasGensollen commented on #202
@kdheepak, probably a stupid idea but what if you install Python3 at the expected location (`C:\python3\python.exe`)? Would it work?

[2018-10-19 22:03] kdheepak commented on #202
I have the same issue on my Windows machine. I'll explore further.

The problem is that `black` is trying to use `virtualenv` to create a Python3 environment. It appears that the command that is being generated by black's pre-commit hook does not work. To get around this, you can disable the `black` pre-commit hook. Change the `.pre-commit-config.yaml` file to remove the black section or run the f

[2018-10-19 22:58] kavuribhavya commented on #202
We tried installing Python3.6 at /C/python3 but we get the following error

[code]

[2018-10-19 23:04] kdheepak commented on #202
I don't think that's the way to go for this. We need to submit an issue to black.

[2018-10-19 23:08] NicolasGensollen commented on #202
@kdheepak, I agree that this is not the path to a real fix, but we were just curious to see what would happen with this little trick.

[2018-10-20 01:15] tarekelgindy commented on #202
@kdheepak @kavuribhavya I get the same issue as well with a fresh clone. Referring back to #147, it might be possible to fix this by using an older pip version to install that virtualenv uses

[2018-10-20 01:31] tarekelgindy commented on #202
I think this might work. In your python installation (mine is `/c/Users/telgindy/AppData/Local/Programs/Python/Python37-32/Lib/site-packages/virtualenv_support`
modify the pip wheel file you're using. I'm using the pip wheel version from here: https://github.com/GeoNode/geonode-win-installer/blob/master/python_deps/pip-9.0.1-py2.py3-none-any.whl
but you might want to update this with the pip 18 wh

[2018-10-20 05:06] tarekelgindy commented on #202
I wanted to clarify the steps to fix this issue below

Firstly, when installing ditto, on windows you'll need to download pandoc from here:
https://github.com/jgm/pandoc/releases/tag/2.3.1
as described here:
https://pandoc.org/installing.html

You should install this before cloning the git repo and installing it with
`pip install -e .[dev]`
as a developer or
`pip install -e .`
as a user
However th

[2018-10-22 19:10] NicolasGensollen commented on #141
Solved in #207

[2018-10-22 19:10] #141 closed

[2018-10-22 21:41] kavuribhavya opened #210 "Number of wires returned by ditto is not consistent"
File Reference - ```tests/readers/opendss/Lines/test_line_connectivity.dss```

For example,
[code]

Line1 is expected to have 4 wires but ditto returns 3 ( number of phases since the line geometry is not specified).

This is discovered during unit testing as the assert for the number of wires and the phases of wires with actual ditto outputs do not match.

[2018-10-22 21:48] kavuribhavya opened #211 "Ditto is expected to throw a warning/error but doesn't"
File Reference - ``` tests/readers/opendss/Lines/test_line_connectivity.dss ```

For example,
[code]

As the comment mentioned, the expected behavior from ditto is to throw a warning/error that the phase 9 is not supported.

[2018-10-22 22:01] NicolasGensollen commented on #210
Thanks @kavuribhavya
Right now a 3 phases 4 wires line defined as a geometry will create 4 DiTTo wires while a three phases line defined with a LineCode will create only 3 DiTTo wires, which is inconsistent.

[2018-10-22 23:44] NicolasGensollen commented on #204
Should we close this?

[2018-10-22 23:58] kdheepak commented on #204
I think we can. We should just make sure that while testing we are able to see the logger output if we choose to.

[2018-10-23 15:13] #202 closed

[2018-10-23 15:16] NicolasGensollen commented on #121
Hi @AadilLatif, do you think we can merge your work on the Windmill reader?

[2018-10-23 16:25] NicolasGensollen opened #212 "ampacity_emergency vs. emergency_ampacity"
It looks like some parsers still try to use `ampacity_emergency` instead of `emergency_amapacity`...

[2018-10-23 21:12] NicolasGensollen commented on #179
This should be solved by #200. Closing for now.

[2018-10-23 21:12] #179 closed

[2018-10-23 21:13] NicolasGensollen commented on #157
Solved by #200.

[2018-10-23 21:13] #157 closed

[2018-10-23 21:15] kavuribhavya opened #213 "Line, Wire : Default values of attributes not being set as expected"
While writing the unit tests for Line connectivity
```tests/readers/opendss/Lines/test_line_connectivity.py ``` ,
I have come across a few mismatches in the default values of some of the attributes being set for Line and wire objects in ditto. The code used for unit testing these attributes is included.

## Line
#### line_type
[code]
The default is overhead but ditto changed it to underground sinc

[2018-10-23 21:42] kavuribhavya opened #214 "Capacitor : Default values of attributes not being set as expected"
While writing the unit tests for Capacitor connectivity ```tests/readers/opendss/Capacitors/test_capacitor_connectivity.dss ``` ,
I have come across a few mismatches in the default values of some of the attributes being set for Capacitor object in ditto. The code used for unit testing these attributes is included.

## Capacitor
#### connection_type
[code]
Ditto returns Y

#### resistance, reactanc

[2018-10-23 22:36] kavuribhavya commented on #214
OpenDSS Unittests #215

[2018-10-25 18:10] NicolasGensollen opened #222 "Remove all "try except pass""
I know I'm partly responsible for this but all these try except pass in the readers (for example the OpenDSS reader) are causing a lot of issues where the code is silently failing. I honestly don't see any reason to keep them.
This is probably a long and boring task so I won't assign this to anybody but we probably want to do it at some point...

[2018-10-25 18:11] #212 closed

[2018-11-01 16:23] kavuribhavya opened #223 "Ditto throws an error when input dss line has no phases specified in the bus"
When I run ditto with input line where buses have no specific phases information as below,
[code]
The error is
[code]
The expected input is
[code]

This is occurring because the phases are not specified in the buses and number of phases is not 3 where the bus name and phases are set as None.

[2018-11-02 21:46] kavuribhavya opened #224 "Concentric Neutral Cables not read in opendss"
When I try to read the Concentric Neutral Cables in opendss,

[code]

the wire attributes ```concentric_neutral_gmr, concentric_neutral_resistance, concentric_neutral_diameter, concentric_neutral_outside_diameter, concentric_neutral_nstrand ``` are currently not set.

[2018-11-07 20:44] tarekelgindy opened #225 "Single Phase Delta in OpenDSS"
In the OpenDSS writer sometimes there are transformers or loads that are single phase delta.
For example in https://github.com/NREL/ditto/blob/master/ditto/writers/opendss/write.py#L1400 or https://github.com/NREL/ditto/blob/master/ditto/writers/opendss/write.py#L646.

In these cases the user should be warned that the transformer is actually a Wye configuration on the high side and the transformer

[2018-11-09 00:50] tarekelgindy opened #226 "Add DiTTo watermark to output files"
For each writer, we should have a comment that indicates that the data has been produced by a certain DiTTo version.

[2018-11-19 18:26] kavuribhavya opened #227 "Line: is_fuse ; Create OpenDSS example to test attribute"
Create an example in OpenDSS that could be used to test ```is_fuse``` attribute for a Line Object.

[2018-11-19 18:43] kavuribhavya opened #228 "Line : is_switch ; Create OpenDSS example to test attribute"
Create an example in OpenDSS that could be used to test ```is_switch``` attribute for a Line Object.

[2018-11-19 18:47] kavuribhavya opened #229 "Line : faultrate ; Create OpenDSS example to test attribute"
Create an example in OpenDSS that could be used to test ```faultrate``` attribute for a Line Object.

[2018-11-19 18:50] kavuribhavya opened #230 "Transformer : phase_shift ; To check if it exists in OpenDSS"
Check if this attribute exists in OpenDSS and create an example to set it.

[2018-11-19 18:52] kavuribhavya opened #231 "Winding : voltage_limit ; Create OpenDSS example to test attribute"
Create an example with a voltage regulator included in OpenDSS to test ```voltage_limit``` attribute for a Winding Object.

[2018-11-19 18:54] kavuribhavya opened #232 "Phase Winding : tap_position ; Create OpenDSS example to test attribute"
Create an example in OpenDSS that could be used to test ```tap_position``` attribute for a Phase Winding Object.

[2018-11-19 18:55] kavuribhavya opened #233 "Regulator : lowstep ; Implement in OpenDSS reader"
The ```lowstep``` attribute of Regulator needs to be implemented in the OpenDSS reader.
The value of lowstep is equal to highstep.

[2018-11-19 19:00] kavuribhavya opened #234 "Regulator : phase_shift ; To check if it exists in OpenDSS"
Check if this attribute exists in OpenDSS and create an example to set it.

[2018-11-19 19:00] kavuribhavya opened #235 "Regulator : ct_ratio ; To check if it exists in OpenDSS"
Check if this attribute exists in OpenDSS and create an example to set it.

[2018-11-19 19:21] kavuribhavya opened #236 "Regulator : phase_shift ; To check if it exists in OpenDSS"
Check if this attribute exists in OpenDSS and create an example to set it.

[2018-11-19 19:27] kavuribhavya opened #237 "Regulator : setpoint ; Implement in OpenDSS reader"
The ```setpoint``` attribute of Regulator needs to be implemented in the OpenDSS reader.
The value can be read from vreg.

[2018-11-19 19:28] kavuribhavya opened #238 "Regulator : ct_prim ; Create OpenDSS example to test attribute"
Create an example in OpenDSS that could be used to test ```ct_prim``` attribute for a Regulator Object.

[2018-11-19 19:29] kavuribhavya opened #239 "Load : connection_type ; Create OpenDSS example to test attribute"
Create an example in OpenDSS to test ```connection_type``` attribute for a Load Object.

[2018-11-19 20:14] kavuribhavya opened #240 "Deprecate windings and noload_loss from Regulator"
The plan is to deprecate windings and noload_loss from Regulator but this is a big API change.

[2018-11-20 17:41] kavuribhavya opened #241 "Wire : insulation_thickness ; Implement in OpenDSS Reader"
The ```insulation_thickness``` attribute of Wire needs to be implemented in the OpenDSS reader.

[2018-11-20 17:46] kavuribhavya opened #242 "Deprecate a few attributes of wire"
The attributes ``` is_fuse, is_switch, drop, is_recloser, is_breaker, is_network_protector, is_sectionalizer``` need to be deprecated as they are possible duplicates of Line attributes.

[2018-11-20 18:06] kavuribhavya opened #243 "Winding : voltage_type ; Implement in OpenDSS reader"
The ```voltage_type``` attribute of Winding needs to be implemented in the OpenDSS reader.

[2018-11-20 18:09] kavuribhavya opened #244 "Winding : reverse_resistance ; Implement in OpenDSS Reader"
The ```reverse_resistance``` attribute of Winding needs to be implemented in the OpenDSS reader.

[2018-11-20 18:18] kavuribhavya opened #245 "Regulator : voltage_limit ; Create OpenDSS example to test attribute"
Create an example with a voltage regulator included in OpenDSS to test ```voltage_limit``` attribute for a Regulator Object.

[2018-11-20 18:36] kavuribhavya opened #246 "Deprecate peak_p and peak_q attributes from Load"
The attributes ```peak_p``` and ```peak_q``` of Load need to be deprecated.

[2018-11-20 18:41] kavuribhavya opened #247 "Replace peak_coincident_p and peak_coincident_q with peak coincident factor"
The attributes ```peak_coincident_p``` and ```peak_coincident_q``` of Load are to be replaced with a single attribute, ```peak coincident factor```.

[2018-11-27 17:29] #227 closed, assigned to nobody

[2018-11-27 17:56] tarekelgindy commented on #228
Added test examples on different phases [here](https://github.com/NREL/ditto/blob/OpenDSS-unittests/tests/readers/opendss/Lines/test_switches.dss)

This is currently on the OpenDSS-unittests branch

[2018-11-27 17:56] #228 closed

[2018-11-27 19:32] tarekelgindy commented on #229
Added test examples on different phases here

This is currently on the OpenDSS-unittests branch[here](https://github.com/NREL/ditto/blob/OpenDSS-unittests/tests/readers/opendss/Lines/test_line_length.dss)

[2018-11-27 19:32] #229 closed

[2018-11-28 00:31] kdheepak opened #248 "Add GridLAB-D regression tests"

[2018-12-04 16:44] kavuribhavya opened #249 "Capacitor : low ; Create OpenDSS example to test attribute"
Create an example in OpenDSS to test ```low``` attribute for a Capacitor Object.

[2018-12-04 16:51] kavuribhavya opened #250 "Capacitor : high ; Create OpenDSS example to test attribute"
Create an example in OpenDSS to test ```high``` attribute for a Capacitor Object.

[2018-12-04 16:52] kavuribhavya opened #251 "Capacitor : resistance ; Create OpenDSS example to test attribute"
Create an example in OpenDSS to test ```resistance``` attribute for a Capacitor Object.

[2018-12-04 16:55] kavuribhavya opened #252 "Capacitor : reactance ; Create OpenDSS example to test attribute"
Create an example in OpenDSS to test ```reactance``` attribute for a Capacitor Object.

[2018-12-04 17:00] kavuribhavya opened #253 "Capacitor : Conductance, Susceptance ; To check if there are OpenDSS defaults"
Check if the attributes ```conductance``` and ```susceptance``` exists in OpenDSS and implement if needed. Create examples to test the attributes accordingly.

[2018-12-04 17:02] kavuribhavya opened #254 "Capacitor : ct_ratio ; Create OpenDSS example to test attribute"
Create an example in OpenDSS to test ```ct_ratio``` attribute for a Capacitor Object.

[2018-12-04 17:13] kavuribhavya opened #255 "Phase Capacitor : switch ; To check if it exists in OpenDSS"
Check if this attribute is included in OpenDSS and create an example to set it.

[2018-12-04 17:13] kavuribhavya opened #256 "Phase Capacitor : sections ; To check if it exists in OpenDSS"
Check if this attribute is included in OpenDSS and create an example to set it.

[2018-12-04 17:14] kavuribhavya opened #257 "Phase Capacitor : normalsections ; To check if it exists in OpenDSS"
Check if this attribute is included in OpenDSS and create an example to set it.

[2018-12-04 17:19] kavuribhavya opened #258 "PowerSource ; Create OpenDSS example to test attribute"
Create more examples to test PowerSource

[2018-12-04 17:19] kavuribhavya opened #259 "PowerSource : rated_power ; Create OpenDSS example to test attribute"
Create an example in OpenDSS to test ```rated_power``` attribute for a Capacitor Object.

[2018-12-04 17:22] kavuribhavya opened #260 "PowerSource : emergency_power ; Create OpenDSS example to test attribute"
Create an example in OpenDSS to test ```emergency_power``` attribute for a Capacitor Object.

[2018-12-04 17:24] kavuribhavya opened #261 "Deprecate a few attributes of PowerSource"
The attributes ```connection_type, cutout_percent, cutin_percent, resistance, reactance, v_max_pu, v_min_pu,  power_factor, phase_angle``` need to be deprecated.

[2018-12-04 20:10] kavuribhavya opened #262 "Node : nominal_voltage ; Implement in OpenDSS Reader"
The ```nominal_voltage``` attribute of Node needs to be implemented in the OpenDSS reader.

[2018-12-04 21:01] kavuribhavya opened #263 "PowerSource : phases ; Implement in OpenDSS Reader"
The ```phases``` attribute of PowerSource needs to be implemented in the OpenDSS reader.

[2018-12-04 21:01] kavuribhavya opened #264 "PowerSource : positions ; Implement in OpenDSS Reader"
The ```positions``` attribute of PowerSource needs to be implemented in the OpenDSS reader.

[2018-12-04 23:09] jd-lara opened #265 "single phase load voltage needs to be added"
When parsing single phase loads from Cyme to OpenDSS, the tool doesn't add a `kv=` field with the LG voltage. OpenDSS interprets this as a L-L voltage by default leading incorrect results in the PowerFlow calculation in OpenDSS. This might be a mismatch between the default in Cyme and the default in OpenDSS for single phase loads.

[2018-12-12 21:48] kavuribhavya opened #266 "Issues in OpenDSS Reader"
When unit testing the Loads in OpenDSS, I noticed that

1. ZIPV coefficients are not read right.

[code]
I tried using the following
[code]
and changing
[code]
to
[code]
and it works but I haven't thoroughly tested with these changes.

2. And also, the phases information is not read correctly
[code]
The last line where b2_phases are assigned needs to be changed to b3_phases.

[2018-12-13 23:40] tarekelgindy commented on #265
Thanks for raising this and sorry for the late response on this. We've identified this as an issue previously and I'm adding a fix for this now. This should be as simple as writing the kV value for OpenDSS. I expect we'll have a fix for this included tomorrow.

[2018-12-22 01:04] tarekelgindy commented on #265
I believe this issue has been addressed in the latest pull request #268.

The problem was that nominal voltages weren't being set by the CYME reader, and hence were being ignored by the opendss writer.

Cyme doesn't include nominal voltages explicitly for each node so we had to calculate them through post-processing. Originally we didn't want to include this in the reader, and allow the user to ma

[2019-02-10 16:03] jeverdave opened #269 "Documentarion request: run_power_flow for ieee_13node"
I have install the ditto but i don't know how to use the "run_power_flow.py" command. Please help me what is the right code

[2019-02-22 17:10] tarekelgindy commented on #249
Added vmin to capcontrolers in test_capacitor_connectivity.dss

[2019-02-22 17:10] #249 closed

[2019-02-22 17:11] tarekelgindy commented on #250
Added vmax to capcontrolers in test_capacitor_connectivity.dss

[2019-02-22 17:11] #250 closed

[2019-02-22 17:28] tarekelgindy commented on #230
This attribute doesn't exist in OpenDSS. However, for Delta-Delta and Wye-Wye transformers this is 0. For Delta-Wye transformers it is -30. If the transformer is center tapped it is also -30. These values should be set in the reader.

[2019-02-22 17:44] tarekelgindy commented on #230
Now added to reader.

[2019-02-22 17:44] #230 closed

[2019-02-22 18:02] tarekelgindy commented on #231
Added to test_regulators.dss

[2019-02-22 18:02] #231 closed

[2019-02-22 18:04] tarekelgindy commented on #235
Is not provided in OpenDSS for regulators (exists for Capacitors though)

[2019-02-22 18:04] #235 closed

[2019-02-22 18:11] tarekelgindy commented on #234
Now added to reader. Set based on the connection types of the regulator's transformers

[2019-02-22 18:11] #234 closed

[2019-02-22 18:15] #238 closed

[2019-02-22 18:42] tarekelgindy commented on #232
Tests added and reader updated to overwrite Transformer Tap value with Regulator TapNum value if it is provided.

[2019-02-22 18:42] #232 closed

[2019-02-28 21:55] #210 closed

[2019-03-14 16:38] kdheepak opened #271 "Drop Python2 support and start using Python3 type hints"

[2019-03-14 18:06] tarekelgindy opened #272 "Add required_for_powerflow to API attributes"
For example:
[code]

This may be useful when deciding which default values to apply automatically @kavuribhavya

[2019-03-14 20:43] tarekelgindy commented on #257
This attribute is not used in OpenDSS.

[2019-03-14 20:43] #257 closed

[2019-03-14 20:47] tarekelgindy commented on #256
Not implemented in OpenDSS

[2019-03-14 20:47] #256 closed

[2019-03-14 21:34] tarekelgindy commented on #254
Added several CTRatio values as well as a different PTRatio values. One Capcontroller also has no PT or CT ratio values.

[2019-03-14 21:34] #254 closed

[2019-03-18 20:01] kavuribhavya commented on #211
Merged through #275

[2019-03-18 20:01] #211 closed

[2019-03-18 20:02] kavuribhavya commented on #223
Merged through #276

[2019-03-18 20:02] #223 closed

[2019-03-22 06:27] tarekelgindy commented on #255
Switched sections not included in OpenDSS

[2019-03-22 06:27] #255 closed

[2019-04-22 13:19] dugganj opened #283 "windmil_ascii reader throws exception with attached file"
I am attempting to read the attached file using the winmil reader.  It is a simple .std file created in windmil itself.  The windmil_ascii reader throws an exception on line 67:
WARNING:root:File at "../DittoTest\PVSensitivity.std" was not read correctly.

Not a terribly helpful error message.  I modified it to attach the actual exception to the log:
WARNING:root:File at "../DittoTest\PVSensitivit

[2019-04-22 20:45] dugganj opened #284 "windmil_ascii reader throws exception on numeric phase configs"
Windmil .seq files allow using either alpha phase descriptors ('ABC') or numeric phase descriptors (7) -- from the windmil help file:
Element Phase Configuration
The phase configuration can be described using an integer 1-7, a string A-ABC, or even a phase ordering such as CBA, BCA, etc.

1 = A, 2 = B, 3 = C, 4 = AB, 5 = AC, 6 = BC, 7 = ABC

Using the numeric version causes an exception:
INFO:ditt

[2019-04-25 20:50] tarekelgindy commented on #284
@AadilLatif primarily worked on this reader. Do you have any insight into this?

[2019-04-26 15:34] kdheepak commented on #48
JSON readers and writers allow this.

[2019-04-26 15:34] #48 closed

[2019-04-26 15:44] kdheepak opened #285 "Allow json reader and writer to accept and return Python dict"
Currently json writer only allows writing to disk. Having it return a dictionary will allow users to manipulate it in the Python language and convert it again to a DiTTo model. Another advantage is that if someone wants to compress the json versus store it in a human readable manner, they'll have the option to do so.

https://github.com/NREL/ditto/blob/53b90e89df925f8c0f1af6da57dc9850b5d0f4df/ditt

[2019-05-01 22:16] dpinney opened #287 "Support for MacOS?"
Hi, I'm running macOS 10.14 with Python 2.7.x from homebrew. Is this a supported platform? I wasn't able get it working.

When I do the recommended `pip install git+https://github.com/NREL/ditto.git@master#egg=ditto[all]` from the readme.md it errors out with:

[code]

So I added the --user flag and it appeared to install correctly at the user level.

The ditto-cli tool, however, wasn't on the pat

[2019-05-01 23:05] kdheepak commented on #287
MacOS is supported, that's what I'm using DiTTo on. This seems like the installation didn't occur as expected.

Can you check if that file exists on your machine?: `/Users/dpinney/Library/Python/2.7/lib/python/site-packages/ditto/formats/gridlabd/schema.json`

I'm guessing it does not. Does that folder exist?

Also, I'd recommend not using Python2, and moving to Python3. Python2's end of life is c

[2019-05-01 23:16] kdheepak commented on #287
I tested this locally and this is a bug. I fixed it in a separate branch. If you want to use it at the moment you can do the following:

[code]

Alternatively, you can wait till the fix is merged to `master` and use the instructions in the README.

[2019-05-01 23:17] kdheepak opened #289 "Move all non-python files to out of the ditto python package (i.e. the `ditto` folder)"

[2019-05-02 00:26] tarekelgindy commented on #287
This change has now been moved into master. If you re-install it the required schema should now be included.

To address the `permission denied` issue, this has to do with where python is trying to install packages in system folders that don't have base permissions. The `--user` option will install it in a local folder.
A good description of this can be found here:
https://github.com/googlesamples

[2019-05-02 15:04] dpinney commented on #287
Fix partially confirmed.

`pip install git+https://github.com/NREL/ditto.git@master#egg=ditto[all]` without `--user` works now, and ditto-cli is on the path.

However, when I run `ditto-cli convert --input "./IEEE-13.glm" --from gridlabd --to opendss --output ./`, I get a similar error about schema.json:

[code]

Only contents of /usr/local/lib/python2.7/site-packages/ditto/formats/gridlabd/ are:

[2019-05-02 15:09] dpinney commented on #287
I added the schema.json to the .../formats/gridlabd/ folder manually and now I get this error:

[code]

[2019-05-03 16:06] dpinney commented on #287
I get the same error when I test against the version of IEEE13 that's [in this repo](https://raw.githubusercontent.com/NREL/ditto/6543462ec6cf441092abd063b1009ff5d4e2eeb6/ditto/readers/gridlabd/13node_simplified.glm), so it looks like this is an install problem.

[2019-05-03 16:43] kdheepak commented on #287
I'm getting the same error on my machine

[code]

@tarekelgindy any idea what might be going on here?

[2019-05-03 17:16] tarekelgindy commented on #287
I've found out what's causing this - it's a bug with the voltages not being read with the regulators. On a side note, we should probably include testing of the gridlab-d reader in the testing folder to avoid discoveries like this. I'll make these changes and add them to master asap.

[2019-05-03 20:52] tarekelgindy commented on #287
I think I've fixed this bug. It's on the branch located [here](https://github.com/NREL/ditto/tree/gld_reg_bugfix) which will be merged into master soon. This is quite specific to regulators which is why we might have missed this issue previously. However, this highlights the need for additional testing of the gridlab-d reader..

[2019-05-03 21:18] kavuribhavya commented on #264
Implemented and merged to Master.

[2019-05-03 21:18] #264 closed

[2019-05-03 21:18] kavuribhavya commented on #263
Implemented and merged to Master.

[2019-05-03 21:18] #263 closed

[2019-05-03 21:18] kavuribhavya commented on #241
Implemented and merged to Master.

[2019-05-03 21:18] #241 closed

[2019-05-03 21:19] kavuribhavya commented on #239
Implemented and merged to Master.

[2019-05-03 21:19] kavuribhavya commented on #237
Implemented and merged to Master.

[2019-05-03 21:19] #237 closed

[2019-05-03 21:19] kavuribhavya commented on #233
Implemented and merged to Master.

[2019-05-03 21:19] #233 closed

[2019-05-03 21:20] kavuribhavya commented on #213
Fixed all the issues and merged to Master.

[2019-05-03 21:20] #213 closed

[2019-05-03 21:20] kavuribhavya commented on #214
Fixed all the issues and merged to Master.

[2019-05-03 21:20] #214 closed

[2019-05-03 21:20] kavuribhavya commented on #224
Implemented and merged to Master.

[2019-05-03 21:20] #224 closed

[2019-05-03 21:21] kavuribhavya commented on #243
Implemented and merged to Master.

[2019-05-03 21:21] #243 closed

[2019-05-03 21:21] kavuribhavya commented on #244
Implemented and merged to Master.

[2019-05-03 21:21] #244 closed

[2019-05-03 21:21] kavuribhavya commented on #245
Implemented and merged to Master.

[2019-05-03 21:21] #245 closed

[2019-05-03 21:21] kavuribhavya commented on #251
Implemented and merged to Master.

[2019-05-03 21:21] #251 closed

[2019-05-03 21:22] kavuribhavya commented on #252
Implemented and merged to Master.

[2019-05-03 21:22] #252 closed

[2019-05-03 21:22] kavuribhavya commented on #253
Not implemented for now.

[2019-05-03 21:22] #253 closed

[2019-05-03 21:22] kavuribhavya commented on #258
Implemented and merged to Master.

[2019-05-03 21:22] #258 closed

[2019-05-03 21:22] kavuribhavya commented on #259
Implemented and merged to Master.

[2019-05-03 21:22] #259 closed

[2019-05-03 21:22] kavuribhavya commented on #260
Implemented and merged to Master.

[2019-05-03 21:22] #260 closed

[2019-05-03 21:22] kavuribhavya commented on #262
Already implemented.

[2019-05-03 21:22] #262 closed

[2019-05-06 19:04] tarekelgindy commented on #287
@dpinney  This has now been merged into master. Does this address your issue?
We'll add a few gridlab-d reader tests to DiTTo to make sure that rest of the test systems are being converted correctly as well.

[2019-05-06 19:31] dpinney commented on #287
Re-installed just now. Fix confirmed on the 3 models I was trying to convert.

If you're looking for good reader tests, I recommend PNNL's [taxonomic feeders](https://github.com/gridlab-d/Taxonomy_Feeders). Real circuits at full scale, well-validated. I had to remove the complex_assert objects, but after that ditto would convert them.

[2019-05-07 07:37] sssaha commented on #287
I am facing the issue of missing schema.json file.
I am using Anaconda in a Linux machine.
This is what I did :
`conda create -n ditto python=3.6
conda activate ditto
pip install git+https://github.com/NREL/ditto.git@master#egg=ditto[all]
git clone https://github.com/NREL/ditto.git
cd ditto/examples
python ieee_123node_gridlabd_to_opendss.py
`

The error I am getting is
`FileNotFoundError: [Errno

[2019-05-09 04:54] sssaha opened #292 "Linux Installtion Issue"
I am facing the issue of missing schema.json file.
I am using Anaconda in a Linux machine.
This is what I did :
`conda create -n ditto python=3.6`
`conda activate ditto`
`pip install git+https://github.com/NREL/ditto.git@master#egg=ditto[all]`
`git clone https://github.com/NREL/ditto.git`
`cd ditto/examples`
`python ieee_123node_gridlabd_to_opendss.py`

The error I am getting is
`FileNotFoundError

[2019-05-09 07:28] tarekelgindy commented on #292
It looks like the schema isn't getting included in the pip install. @kdheepak do you know why this might be the case?

A short term solution to this is to install ditto from the clone: `pip install -e .` in the base folder of the cloned repository, which should then include the location of the schema file.

[2019-05-09 08:24] sssaha commented on #292
So, I deleted my old environment, and created a fresh environment, and did ` pip install -e .[all]`, which installed the required packages.
Then I tried running the `python ieee_123node_gridlabd_to_opendss.py` from the examples folder, which threw the following error:

`>>> Creating empty model...

Traceback (most recent call last):
  File "ieee_123node_gridlabd_to_opendss.py", line 59, in <module

[2019-05-24 19:02] sssaha opened #294 "Problem in Convering GridlabD model to OpenDSSModel"
Hello
I just tried the ditto-cli tool on the IEEE 13 node GridlabD model (I downloaded the model from GridlabD GitHub repository and then removed the recorder).
I noticed a couple of problems while inspecting the OpenDSS file..
1. The regulators are missing KVA ratings.
2. OpenDSS requires an explicit definition of Slack Bus. If not mentioned, then one bus has to have the name source-bus in the mo

[2019-05-29 18:05] keithdsz opened #295 "Issue Converting Cyme to OpenDSS - Unable to Parse Error"
Hi All,

I have an issue converting cyme(sxst) to opendss

I get the following error:
Could not find [SI] or [IMPERIAL] unit system information. Unable to parse.

Any help addressing this error would be greatly appreciated.

Thanks,

Keith

[2019-05-29 23:02] kdheepak commented on #295
Can you post a screenshot or a full stacktrace?

[2019-05-29 23:03] kdheepak commented on #294
Thanks for making the issue and posting the files.

[2019-05-29 23:54] tarekelgindy commented on #295
This error will happen when ditto is unable to parse a cyme file (we need to improve the error messaging on this)

DITTo currently converts the ascii representation of a cyme model, and it sounds like you're trying to convert the .sxst format. If you have access to the original cyme model, export the network, load and equipment ascii files and then follow the conversion instructions provided here:

[2019-05-30 00:14] keithdsz commented on #295
@kdheepak
![image](https://user-images.githubusercontent.com/51171814/58599380-0e456680-824e-11e9-85a7-e4b8b3dccb25.png)
Here is the image.

@tarekelgindy : Thank you. I'll try that.

[2019-05-30 01:52] keithdsz commented on #295
@tarekelgindy : I tried what you suggested. Now I get the following error. (I converted my sxst file to the three files required)

![image](https://user-images.githubusercontent.com/51171814/58602746-fc6ac000-825b-11e9-8d84-ff7b43211f93.png)

[2019-06-18 22:49] dtiwari86 opened #297 "Synergi to OpenDSS conversion: Not getting few DSS files in Output"
Hi All,

When converting Synergi  to OpenDSS, I am not getting Transformer.dss, PV.dss, and few more although the corresponding data is available in Synergi database.

Also I am getting error as  "heights of the conductors should be >0" (reading from Linegeometry.dss)  while running the power flow using Master.DSS.

Appreciate the response.

Thanks

[2019-06-28 20:21] kavuribhavya opened #301 "Support different connection types like Wye grounded and Open Delta"
Currently, Ditto supports only wye and delta connection types. We need to support other connection types like Wye grounded and Open Delta in the future.

[2019-07-26 16:20] kavuribhavya commented on #297
Issue solved in https://github.com/NREL/ditto/pull/302

[2019-07-26 16:20] #297 closed

[2019-08-03 12:46] etimberg commented on #28
I totally missed @NicolasGensollen's comment last September. I tested this again now and see

[code]

so I'm going to close this as resolved

[2019-08-03 12:46] #28 closed

[2019-10-16 22:19] TLawanson opened #309 "Issue converting Cyme to OpenDSS: UnboundLocalError: local variable '_from' referenced before assignment"
Hi there,

I am trying to convert a Cyme model to OpenDSS using DiTTo.
Following the steps provided in the documentation, I have tried to convert the Cyme file using DiTTo through the command line and also using the ieee_123node_cyme_to_opendss.py provided in the examples folder (I changed the file path to the folder containing the Cyme file I wanted to convert).

In both cases, I get the followin

[2019-11-09 06:15] spark706 opened #311 "Constantly getting "Pandas is not installed. Please see documentation for how to install extra dependencies.""
I tried Anaconda Python 2.7 which comes with Pandas and get the above error.  I tried running Ditto-CLI in a Python 2 environment, using Spyder, Jupyter Notebooks, and VS Code all attempting to simply run the example scripts provided in the Github download.  I am working on the basis that if the example scripts convert then I am using the tool correctly and can then attempt to convert my Cyme mode

[2019-11-09 06:26] spark706 opened #312 "Receiving "TypeError: __init__() takes at least 3 arguments (2 given)""
Using the following in the ditto command line interface

ditto-cli convert --from cyme --input ieee_123node_cyme_to_opendss.json --to dss --output ./

return the TypeError in the title.  What arg am I missing?

[2019-11-09 07:01] kdheepak commented on #312
Can you post the full stacktrace?

[2019-11-09 07:02] kdheepak commented on #311
Can you share more information / screenshots / full stacktrace?

[2019-11-09 17:25] spark706 commented on #311
Here are screen shots from my CLI including Python version and installed
packages. These are from running the script directly within the folder
containing the example script and I tried 2 different ones.

On Sat, Nov 9, 2019 at 2:02 AM Dheepak Krishnamurthy <
notifications@github.com> wrote:

[2019-11-09 17:26] spark706 commented on #311
Attached are screen shots from my CLI showing Python version 2.7, installed packages, and two different scripts I attempted directly from within the examples folder.

![1a](https://user-images.githubusercontent.com/27433514/68532502-f3424c80-02eb-11ea-8ece-1336524242ad.jpg)
![1b](https://user-images.githubusercontent.com/27433514/68532503-f3424c80-02eb-11ea-9627-4099a8d32c08.jpg)
![1c](https://use

[2019-11-09 17:36] spark706 commented on #312
Attached is a screen shot from my CLI running the script from within the
examples folder.

On Sat, Nov 9, 2019 at 2:01 AM Dheepak Krishnamurthy <
notifications@github.com> wrote:

[2019-11-09 17:36] spark706 commented on #312
Here is a screen shot of the CLI running the script from within the examples folder.  I also included the Python version used.
![2](https://user-images.githubusercontent.com/27433514/68532616-92b40f00-02ed-11ea-8e32-f252729e1a85.jpg)

[2019-11-09 19:30] kdheepak commented on #312
From just looking at that it looks like the version of `click` is failing to throw an exception. We'll fix that.

But regardless even with a fix, I think you'd still get a different error if you ran what is in your script. You are using `--to dss` when I think you should be using `--to opendss`.

[2019-11-09 20:47] spark706 commented on #312
With the exception failure issue aside I did run the code per your comment of using `--to opendss`

`(py2) C:\Users\shepa\DITTO\ditto-master\examples>ditto-cli convert --from cyme --input ieee_123node_cyme_to_opendss.json --to opendss --output ./
No handlers could be found for logger "ditto.writers.abstract_writer"
c:\users\shepa\anaconda3\envs\py2\lib\site-packages\ditto\models\base.py:32: UserWa

[2019-11-10 00:24] spark706 commented on #311
I was looking at the code for the opendssdirect/utils.py and I wanted to ask about something.

`from __future__ import absolute_import
import inspect
import warnings

from ._utils import get_string

is_pandas_installed = True

try:
    import pandas as pd
except ImportError:
    is_pandas_installed = False

class Iterator(object):
    def __init__(self, module, function):
        assert inspect.is

[2019-11-10 00:35] kdheepak commented on #311
In ditto, we have [this line](https://github.com/NREL/ditto/blob/b3cb27fac90dd057f96c8862a86442d8bda39a07/ditto/readers/opendss/read.py#L214-L215). That's probably why that warning is generated.

I'll update OpenDSSDirect.py such that that warning isn't so annoying anymore. For your purposes you can ignore it.

Your other error messages that you shared in the screenshot are not related to Pandas n

[2019-12-06 23:21] thakars opened #314 "Error while converting IEEE4 testcase from CYME to OpenDSS"
Hi All,

I was trying to convert the IEEE4 testcase from tests/data/small_cases/ieee_4node/

I am getting the following error while parsing the model after reading the cyme files. For conversion, I am using 'ieee_123node_cyme_to_opendss.py' from examples folder with the input and output path suitably modified.

I am getting the following error:

Warning. The current CYME--->DiTTo reader was develo

[2019-12-06 23:26] chumontano opened #315 "CYME to OpenDSS"
Hi!

I am trying to use DiTTo to translate feeder data from CYMEDIST to OpenDSS. So, first I tried to run some examples to understand the data I am using as input and what could obtain as output. For that reason, I am using the code called:

"test_cyme_to_opendss.py" that is located in \ditto-master\tests

But, when I try to run this file for the IEEE4, I am getting the following error:

PS \ditto

[2019-12-07 00:49] etimberg commented on #315
@chumontano are you able to share your cyme files? That error occurs because it's unclear what the units in the cyme file are.

[2019-12-11 20:32] tarekelgindy commented on #314
Hi @thakars  and apologies for the slow reply.

It looks like we were using the deprecated node method from networkx.Graph which has now been deprecated in networkx 2.4: https://networkx.github.io/documentation/stable/release/release_2.4.html#deprecations

The quick fix is to revert to an older version of networkx using a command like this:
` pip install 'networkx==2.2' `

We'll work on making the

[2019-12-11 20:44] thakars commented on #314
Hi @tarekelgindy

No worries about the slow reply. Using networkx 2.2 temporarily fixed the issue for me, thank you!

[2019-12-11 21:20] tarekelgindy commented on #315
Hi @chumontano and sorry for the slow reply

So our CYME error handling for missing files isn't ideal at the moment. The first thing that our CYME reader looks for is the units, and hence this error often appears when the file isn't there.

From your message it looks like you took the file test_cyme_to_opendss.py and moved it to the base folder you're running. The file test_cyme_to_opendss.py conf

[2019-12-11 21:28] chumontano commented on #315
Hi, my CYME files are located in the same folder as the script I am running, also, I took care of take the path where they are and assigned to the reader. I am still having problems using Ditto, as I read in another discussion, it could be because I am using a most recent version of CYME (8.2). Thank you.

[2019-12-18 19:35] scmerrim commented on #315
Could be related to changes to the _CYMEQSOURCE_ table.

In CYME 8.2 they added the capability to handle two different source impedances.  Instead of _ZEROSEQUENCEREACTANCE_ for example, they are now using two fields: _FIRSTLEVELX0_, and _SECONDLEVELX0_.

New columns are now:
- FIRSTLEVELX0
- FIRSTLEVELX1
- FIRSTLEVELX2
- FIRSTLEVELR0
- FIRSTLEVELR1
- FIRSTLEVELR2
- SECONDLEVELX0
- SECONDLEVELX1
-

[2020-01-22 08:04] emesk opened #316 "Test files for conversion from Synergi Electric to OpenDSS"
Hello,

I am trying to convert a Synergy network to OpenDSS. The conversion is successful but the load flow results in voltages way out of ranges.

Can someone share a test network in Synergi format (network + warehouse files or integrated MS access database) that I can convert using Ditto and compare it with my Synergi network .

Thanks

Best regards
Sohail

[2020-01-24 18:00] wenbowangnrel commented on #316
Hi Emest,

First, try your load flow in Synergi, if it can be run, meaning your network+warehouse is correct.
Second, Check load.dss in the converted folder, is nominal voltage defined?

[2020-01-27 08:48] emesk commented on #316
Hi @wenbowangnrel Thanks for the reply. I have load flow results from synergi and consist of line loading and losses, which are in acceptable ranges. However, I don't have yet voltage information. Considering your suggestions, I have checked load.dss in the converted file, the voltage levels are not defined there. I also checked synergi read and write scripts. I found that the load objects do not

[2020-01-27 17:00] wenbowangnrel commented on #316
Hi Emesk,

This not defining nominal kv for load.dss comes from the fact that synergi defines nominal voltage for lines instead of loads. You can find that in InstSection in network.mdb. For you to finish your task, you can try to colon my branch on Github and re-convert where I have fixed the issue, but did not merge to the main branch yet.

[2020-01-28 10:13] emesk commented on #316
Hi @wenbowangnrel I have tried your branch, and found that it read the voltage level from InstSection Description, which is hard-coded. As the case with my network file, the desciption does not include voltage information. I don't know from where else I can map the voltage levels. I can share my network if you can help me please, if so please write me short email, i will respond with my files ther

[2020-01-29 05:29] wenbowangnrel commented on #316
Yes if you want, you can sent me a sample of your network at Wenbo.Wang@nrel.gov

[2020-01-30 21:42] zhihaoy commented on #147
It does not work with `python_venv` language.  This is problematic for team working on different platforms because `python_venv` has better compatibility.

[2020-01-31 19:14] wenbowangnrel commented on #316
Hi Sohail,

If you only want to finish your task, in Ditto, there is a function to calculate nominal_voltage, you can call it in you script, like this:

[code]
This link of the function is here: https://github.com/NREL/ditto/blob/master/ditto/modify/system_structure.py#L524

Also, another valid question is how Synergi deals with nominal_voltage? I am digging into this right now, will share more in

[2020-02-05 14:36] emesk commented on #316
Hi Wenbo,

Thanks for inputs. I have used this conversion in the script in converter.py in between read and write calls

`
        self.reader.parse(self.m)

        if self.jsonize:
            self.json_writer = self.json_writer_class(output_path=self.json_path)
            self.json_writer.write(self.m)

        from ditto.modify.system_structure import system_structure_modifier
        modifie

[2020-02-06 16:48] kdheepak commented on #147
Can you expand on why it doesn't work with `venv`?

[2020-02-09 23:59] wenbowangnrel commented on #316
Hi Sohail,

Got it, please allow us some time to take a look at your error.

Best,
Wenbo

[2020-02-10 22:31] tarekelgindy commented on #316
Hi Sohail,

This is a known bug that we need to fix. The temporary workaround is addressed in this issue:
https://github.com/NREL/ditto/issues/314

To quote the error:

It looks like we were using the deprecated node method from networkx.Graph which has now been deprecated in networkx 2.4: https://networkx.github.io/documentation/stable/release/release_2.4.html#deprecations

The quick fix is to re

[2020-02-12 08:05] emesk commented on #316
Thanks for the hint @tarekelgindy I have done the changes, I am still finding difficulty. Maybe the Synergee network is missing something important for the conversion process. I shall wait for @wenbowangnrel feedback. Thats why it could be useful if we have some test files for Synergee that we can compare with our network files to find missing data.

[2020-02-12 18:15] wenbowangnrel commented on #316
Hi @emesk,

It is not easy to have test files for Synergi shared, there are some legal processes. But I think as long as you can run it in Synergi, your network should be okay.

As far as the question that how Synergi calculates nominal voltage for the line: Synergi uses the section based method to calculate power flow: the so called backward forward sweep for radial systems. So the nominal voltag

[2020-04-28 18:53] kdheepak opened #319 "opendss to ephasorsim conversion fails"
Writer in ephasorsim fails because of a missing attribute called `node` on the networkx object.

[code]

[2020-04-28 21:08] #312 closed

[2020-04-30 16:02] kdheepak commented on #319
Fixed in #313.

[2020-04-30 16:02] #319 closed

[2020-04-30 16:14] kdheepak opened #321 "`AttributeError: 'NoneType' object has no attribute 'lower'`"
[code]

[2020-04-30 16:22] kdheepak commented on #321
It seems like when opendss reader parses a file, it doesn't set the phase always. Is this a bug?

[2020-05-01 22:16] kdheepak commented on #301
I think I'm running into this issue right now and we need to prioritize this.

[2020-05-01 22:50] tarekelgindy commented on #321
Yes this is a bug. It relates to the representation of grounding in transformers. A transformer with bus represented with `bus=XXX.1.2.3.0` is a three-phase grounded transformer, but the OpenDSS reader is interpreting .0 as a phase.

The correct action here is to add an attribute to the Winding class titled `is_grounded` or something similar. When parsing  OpenDSS transformers, the reader should l

[2020-05-18 10:47] emesk opened #327 "Pandas read attribute error in ..ditto\readers\synergi\db_parser.py"
There is an error encountered while reading the synergi database file

[code]

As with Pandas 1.0.3 generate error if the "x" represents float value. This error was not encountered in previous versions where Pandas 0.25.3 was installed.

I fixed it temporarily using following script

[code]

please correct it in the code. @wenbowangnrel

[2020-05-18 10:51] emesk opened #328 "Synergi read error (LineDescription) ..\ditto\readers\synergi\read.py"
Hello,

There is a hard coded piece i have found

[code]
As not every line description has "_" that can be used for splitting. please fix that
@wenbowangnrel  thanks

[2020-05-31 04:19] ashraf-bem commented on #295
I am facing the same issue. KeyError: 'positivesequenceresistance'.  I have exported the network, load and equipment ascii files and ran simulations. Was there any solution provided?

[2020-06-13 04:43] asavasci opened #330 "GridLAB-d to OpenDSS conversion"
I am trying to convert IEEE_4_node gridlab-d model into an opendss format using ditto-cli tool. However, I am getting the following error
`Log file currently not supported, please contact the developers for information on how to generate log files`

I would be glad if you guide me on this.

[2020-06-13 04:47] kdheepak commented on #330
Can you paste here what you are trying to run? If you can share a
reproducible example that would be great.

On Fri, Jun 12, 2020, 10:44 PM Alper Savasci <notifications@github.com>
wrote:

[2020-06-13 04:56] asavasci commented on #330
This is the file that I am trying to convert
[IEEE_4_node.zip](https://github.com/NREL/ditto/files/4774019/IEEE_4_node.zip)
ditto-cli converts the glm file attached here, however solution does matches with original solution.
[OpenDSS_modelbyditto.zip](https://github.com/NREL/ditto/files/4774021/OpenDSS_modelbyditto.zip)

[2020-06-13 04:59] asavasci commented on #330
This is the file that I am trying to convert
IEEE_4_node.zip
ditto-cli converts the glm file attached here, however solution does matches with original solution.
OpenDSS_modelbyditto.zip

[2020-06-13 05:14] kdheepak commented on #330
How are you trying to convert it? Are you running it from the command line? Can you share the full stacktrace or a screenshot?

[2020-06-13 05:19] asavasci commented on #330
Yes, using command line
`ditto-cli convert --from gridlabd --input C:\Users\alper\Desktop\grid4node\IEEE_4_node.glm --to opendss --output C:\Users\alper\Desktop\grid4node`
and getting
`Log file currently not supported, please contact the developers for information on how to generate log files`

[2020-06-13 06:00] asavasci commented on #330
I modified generated OpenDSS files, then I obtained meaningful but not same results. The issues that I am seeing in generated files are `sourcebus` cannot be connected to the `node1` automatically. Thus, I modified the line `New Line.node1-node2 Units=km Length=0.6096 bus1=sourcebus.1.2.3 bus2=node2.1.2.3 switch=n enabled=y phases=3 Linecode=3P_OH_Code0`  specifying the sourcebus as the sending en

[2020-06-19 21:55] daniel-thom opened #332 "Log messages should use % formatting"
Many log messages, including debug messages, use string formatting in the form `logger.debug("var={}".format(var))`.  This can cause a performance issue because the string is constructed even if that log level is disabled.

All log messages should use `logger.debug("var=%s", var)`.

[2020-06-19 21:57] daniel-thom opened #333 "log messages inside an except clause should use logger.exception"
Many log messages inside except clauses use `logger.error`.  They should use `logger.exception` so that the exception information is automatically included.

[2020-06-23 04:43] petergoldthorpe opened #334 ""Vsource.source" KeyError when instantiating NetworkAnalyzer on OpenDSS model"
Hi, I'm a colleague of @frederikgeth. We're trying to use DiTTo for a project that uses the metrics command with an opendss file, and we are running into the following error. We've narrowed down the problem to an issue with instantiating the `NetworkAnalyzer` model, and have been table to replicate for a test case that comes packaged with DiTTo. The test case is located at `./tests/readers/opendss

[2020-06-23 05:31] kdheepak commented on #334
Thanks for the detailed issue.

I think in your code where you use `model.name`, you are instead doing `store.name`, and that what is giving this error. Can you try `print(store.elements)`? That should return a list of "models".

[2020-06-23 05:38] petergoldthorpe commented on #334
Sure, I've tried printing the commands from my code. The output is as follows:
[code]

These print statements are thrown before the KeyError.

[2020-07-20 20:47] twigandrud opened #335 "'Cannot write to format dss'"
I'm trying to use DiTTo to convert from a Cyme database to OpenDSS format. I believe I have the command syntax correct, but when I run the command line command to run DiTTo, I get the error "Cannot write to format 'dss'"

Here's the command I put into the Windows command line:

I've attached the JSON file I created because I hadn't created one before, so it could possibly in a format that won't wo

[2020-07-20 21:06] kdheepak commented on #335
Your json file just contains:

[code]

Can you share the full stacktrace? It'll help identify at what step there was an error.

[2020-07-20 21:07] kdheepak opened #336 "Move from travis to github actions"

[2020-07-20 23:12] kdheepak opened #337 "Change mdbtools to point to prebuilt binaries from CI"
https://github.com/NREL/ditto/blob/9ba2d4cfa5e96eeda811f419c18c70b8a548747e/ditto/readers/synergi/utils.py#L12-L17

Change the above to point to this https://github.com/kdheepak/MDBToolsBuilder/releases/tag/v0.8.2 for now.

Once Windows is also supported on https://github.com/JuliaPackaging/Yggdrasil, we can use prebuilt binaries from there.

[2020-07-21 13:22] twigandrud commented on #335
Is the json file supposed to contain more or something else? I tried following some steps online and that's what I got.

The only message I get in the command window is:

If DiTTo outputs errors to a text file, I'd be happy to provide it, but otherwise that's the only message I get.

[2020-07-21 14:12] kdheepak commented on #335
Interesting. I'm pinging @tarekelgindy to see if he has any ideas. I'll take a closer look when I get the chance this week.

[2020-07-21 21:47] #336 closed

[2020-07-21 21:57] kdheepak commented on #337
Updated the links in the repository instead.

[2020-07-21 21:57] #337 closed

[2020-07-22 14:11] linquanbai commented on #295
Same issue here any update on this?

[2020-08-02 19:46] akshaybabu006 opened #341 "cyme to dss conversion throwing error (screen shot below ). cyme file ieee_123node (given big case example )"
![image](https://user-images.githubusercontent.com/54384767/89130928-30341c00-d4d7-11ea-8718-f6b59ef605f4.png)

[2020-08-12 23:18] daniel-thom opened #342 "OpenDSS reader doesn't allow capacitors and capcontrols with the same name"
This command
[code]
reports this warning
[code]
The name is used twice in OpenDSS files:
[code]
The model names (across element types) are stored in one dictionary.  In most cases it looks like the key of this dictionary is the element name prepended by the type, as in 'load_b54079-1-a_cust1'.  Capacitors and Capcontrols just have the name.  This may be the problem.

[2020-08-12 23:31] daniel-thom commented on #311
@kdheepak @tarekelgindy I think we should fix this.  It's a confusing message that happens every time I run a command with an OpenDSS reader.  The warning message is still present in opendssdirect.

It appears that we are setting this flag in order to avoid having a dependency on pandas.  That may have been true at one point in time, but now it is used in many places in DiTTo.  To fix it we just n

[2020-08-13 19:46] kdheepak commented on #311
I think the most straightforward fix is to add `df.to_dict()`.

[2020-08-13 23:48] daniel-thom opened #345 "Many tests call Store.set_names() which results in object-overwrite warnings"
Many tests follow this pattern:
[code]
The OpenDSS reader calls `set_names` internally in the `parse` method.  This causes a flood of `Duplicate name <x> being set. Object overwritten` warning messages.

@kdheepak @tarekelgindy Is there an expectation that the `parse` method either `must` or `must not` call `set_names`?  If there is no such rule then what should be done here?  Can the Reader class

[2020-08-14 00:03] daniel-thom commented on #342
@tarekelgindy An obvious fix here is to stop stripping the element type off of the Load and Capacitor names.  Dheepak says that will cause problems for gridlabd, but that the gridlabd writer could handle it.  What is your opinion on how to solve this?

[2020-08-14 15:00] daniel-thom commented on #342
This is also a problem in the Cyme reader.  The file tests/data/small_cases/cyme/ieee_13node/network.txt defines a feeder and a node with the name "650", and the same object-overwrite problem happens.

[2020-08-14 21:09] #311 closed

[2020-08-17 21:43] risjain opened #348 "Line 889 - Synergi read.py"
Hi,

The current code splits the line description by '-', which is not standard for all systems. In our case, it is creating an error when identifying the bus type.

Any help is appreciated,

Kind Regards,
Rishabh

[2020-08-21 19:11] risjain opened #350 "Error: Line 3778 (Opendss write.py) OpenDSS Writer has an error with bus1 in the new circuit statement"
Hi,

Upon converting a circuit to OpenDSS (from Synergi in our case), there is always a missing space.
In the code, line 3778 has a missing space preceding the "bus1" in fp.write.

Please have a look,

Kind Regards,
Rishabh

[2020-08-24 17:25] risjain opened #351 "Synergi to OpenDSS - kVAR values are not being updated"
Hi:

When converting from Synergi to OpenDSS, the kVAR values are not being read and set to the default of 0.01(kVAR). Other values (kV, name, bus) were converted correctly.  Please see the image below for reference - instead of 400kVAR, the output in OpenDSS shows the default values.

Also, the associated cap bank controls are translated correctly.

Kind Regards,
Rishabh

![image](https://user-im

[2020-09-05 03:28] thaitranp commented on #334
I'm also running into the same key error issue when trying to call build_networkx() for the ephasor conversion test.

[2020-09-09 01:13] JY231 opened #352 "GLM to OpenDSS Conversion Issues"
Hi,

I have been trying to convert the glm files of PNNL taxonomy feeders into openDSS files. But the openDSS files are missing important information after the conversion. For example, the capacitor file is missing the bus information or the transformer is missing the kVA information in openDSS version.

[2020-09-24 22:33] risjain opened #353 "Error in load conversion from Synergi - Power flow mismatch because of incorrect rated kVA"
It seems that DiTTo is using connected kVA from Synergi to estimate the rated kVA of each load in the system.

However, it should use the regular kVA for load definition. Synergi uses connected kVA for load allocation, and therefore even if kVA of a section has no load, it may have non-zero connected load (think load carrying capacity).

This results in a severe load mismatch between the power flo

[2020-10-06 15:06] risjain opened #354 "Error with PV System conversion - Synergi --> OpenDSS"
Hi,

I am converting a model from Synergi to OpenDSS. When writing to OpenDSS, I see following errors:

1) _**Incorrect connecting buses**_. All the buses had the same bus1 info. (Possibly an error in reading from Synergi - past conversions from other formats to OpenDSS has not had this issue).

2) _**Incorrect power factor**_: Synergi presents power factor in percentage (100, 95, etc) - which Ope

[2020-10-21 13:07] iboates opened #355 "Can I create a store and then add elements manually?"
I have to convert some data that I have to a DSS file. I only need to add lines of a network as well as indicate which nodes are for power generation and which ones are for demand (so basically just the topology). The rest is filled in by another software which takes a DSS file as an input.

I cannot find any documentation for this, however. Is it possible to do this? Basically i just want to crea

[2020-12-06 23:37] TAOGZ opened #357 "can not convert Gridlab data to OpenDss data (the test data - IEEE 123 bus system)"
I am trying to use ditto to convert Gridlab data to OpenDss data (all data are from the test folder).
IEEE-4 and IEEE-13 bus system work well. However, When I tried the IEEE-123 bus system, I got the following error:
`
  File "E:\Github\data_convert\gridlabd_to_opendss.py", line 41, in main
    r.parse(model)

  File "D:\Anaconda3\envs\py_ditto\lib\site-packages\ditto\readers\gridlabd\read.py", li

[2021-04-16 10:23] NicolasGensollen opened #368 "codecov bash uploader security update"
Hi Ditto team, :wave:

You probably already know that, but Codecov.io announced yesterday that their bash uploader script had been compromised: https://codecov.io/disclosure

AFAICT, this script is used by the codecov action which means that authentication secrets used in the same workflow (or potentially other workflows) may have been compromised.

https://github.com/NREL/ditto/blob/a1a527fe04325

[2021-04-20 19:29] tarekelgindy commented on #368
Thanks Nicolas! I believe that Dheepak has updated the secret tokens.
Great to hear from you!!

[2021-04-21 09:07] NicolasGensollen commented on #368
Hi @tarekelgindy

Great, I'll close this then! :+1:
Note that codecov merged a checksum validation fix very quickly. So this action should hopefully be safe now.

Thanks! Great to see that you're still maintaining this package!
Hope everything is fine for you!
Cheers! :smiley:

[2021-04-21 09:07] #368 closed

[2021-04-21 17:44] kdheepak commented on #368
Thanks for bringing this up. I didn't get any email about this so I didn't think we were affected. But I've regenerated tokens for all the secrets we have just in case.

[2021-05-20 16:13] AadilLatif opened #369 "CYME --> OpenDSS"
Regulators converted by DiTTo are shorted by a line across the same bus,  There should be a check that this does not happen. OpenDSS

[2021-05-21 18:23] thomas-baskin opened #370 "CYME -> OpenDSS -- Issues with Regulator, detecting [S.I] or [Imperial], and Not Understanding Node Name Outcomes"
My process from beginning to end:
I downloaded DiTTo using this command ->
`pip install git+https://github.com/NREL/ditto.git@v0.1.0#egg=ditto[all]`
straight from the GitHub. I quickly realized that wasn't the most up-to-date version of DiTTo so I redownloaded with ->
`pip install git+https://github.com/NREL/ditto.git@v0.2.1#egg=ditto[all]`

Now when I run pip list in my Anaconda prompt I see:

[c

[2021-06-10 21:39] thomas-baskin commented on #295
I currently have this issue. Did you end up figuring it out? @ashraf-bem

[2021-06-10 21:48] keithdsz commented on #295
I looked at the python code and found a solution, you need to redefine how the source model is written. Let me know if you need help with this.

[2021-06-11 21:47] thomas-baskin commented on #295
Did you just wrap the positivesequenceresistance code in a try and except clause? There was a commented try and except clause around the positivesequnceresistance line in the code. DiTTo didn't crash and my output looks fairly okay but I'm not quite sure what changed. I basically just ignored the positivesquenceresistance with the try and except. Any thoughts? @keithdsz

[2021-06-12 08:26] keithdsz commented on #295
@thomas-baskin : I modified the Network.txt file.

Look for the keyword source equivalent in it, you should see something like this:

FORMAT_SOURCEEQUIVALENT=NodeID,LoadModelName,Voltage,OperatingAngle1,OperatingAngle2,OperatingAngle3,UseSecondLevelImpedance,FirstLevelR1,FirstLevelX1,FirstLevelR0,FirstLevelX0,FirstLevelR2,FirstLevelX2,SecondLevelR1,SecondLevelX1,SecondLevelR0,SecondLevelX0,SecondL

[2021-06-23 05:48] govindsaraswat opened #371 "OpenDSS>ePhasorSim Single phase transformers being converted to 3-phase transformers"
For example, a single phase transformer in OPenDSS, like:

New Transformer.TR1 Phases=1 Windings=2 XHL=0.6
~ wdg=1 bus=PL1.3.0 conn=wye kV=7.200000 kva=10.00000000 %R=0.75
~ wdg=2 bus=TR13.0 conn=wye kV=0.240000 kva=10.00000000 %R=0.75

gets translated in ePhasorSim as:

transformer_tr1, 3, pl1_c, , , 7.2, 10, 0.0075, wye, tr1_c, , , 0 .24, 10, 0.0075, wye, 0,1, , , -16, 16, 10, 10, 0.006

Seems l

[2021-06-24 16:26] govindsaraswat opened #372 "OpenDSS>ePhasorSim Single phase wye-delta transformer does not have second phase in delta winding"
For example, a single phase wye-delta transformer in OPenDSS, like:
New Transformer.TR Phases=1 Windings=2 XHL=2
~ wdg=1 bus=PL1.1.0 conn=wye kV=7.200000 kva=75.00000000 %R=0.5
~ wdg=2 bus=TR1.1.2 conn=delta kV=0.415692 kva=75.00000000 %R=0.5

gets translated in ePhasorSim as:
transformer_tr, 3, pl1_a, , , 7.2, 75, 0.005, wye, tr1_a, , , 0 .0.415692, 75, 0.005, delta, 0,1, , , -16, 16, 10, 10, 0.0

[2021-09-12 04:53] TamerMellik opened #373 "List of conversion formats"
nvm

[2021-09-13 03:20] hputra728 opened #374 "Conversion from CYME 9.1 to OpenDSS"
Hi I'm doing a conversion from CYME 9.1.0 to OpenDSS. I encountered a format problem when I tried to find the conversion results in OpenDSS. I did the conversion manually but when I tried to run it again in OpenDSS I got mixed results with the simulation on CYME 9.1.0 . Is there a specific version converting from CYME 9.1.0 to OpenDSS ?

[2021-09-15 01:27] TamerMellik opened #375 "Add a PSSE Reader/Writer"
PSSE reader/writer?

[2021-09-18 20:11] mwague opened #376 "conversion from cyme to opendss ( command line)"
I am having this error while converting cyme 9.1 to opendss on my command line
TypeError: `trait` must be a Trait or None, got (<ditto.models.base.Int object at 0x000001D5D69C8070>, <ditto.models.base.Int object at 0x000001D5D69C80D0>, <ditto.models.base.Float object at 0x000001D5D69C8100>) <class 'tuple'>

What maybe the potential issues please?

[2021-09-18 21:43] kdheepak commented on #376
Can you please share the full stack trace?

[2021-09-19 22:46] mwague commented on #376
[
![picture](https://user-images.githubusercontent.com/58091690/133945388-677a6475-59ae-4788-8beb-6cc2c6e9f9c2.PNG)
](url)

[2021-09-19 22:46] mwague commented on #376
Here is the picture

[2021-09-26 01:58] mwague commented on #376
any follow up?

[2021-09-27 20:39] keithdsz commented on #341
Hey @akshaybabu006 , were you able to resolve this issue? I am getting the same error.

Thanks

Keith

[2021-09-28 13:45] mwague opened #377 "cyme to opendss ( command line) or ditto issue"
I am having this error while converting cyme 9.1 to opendss on my command line

**TypeError: trait must be a Trait or None, got (<ditto.models.base.Int object at 0x000001D5D69C8070>, <ditto.models.base.Int object at 0x000001D5D69C80D0>, <ditto.models.base.Float object at 0x000001D5D69C8100>) <class 'tuple'>**

What maybe the potential issues please?

[2021-09-28 13:46] mwague commented on #377
![133945388-677a6475-59ae-4788-8beb-6cc2c6e9f9c2](https://user-images.githubusercontent.com/58091690/135099388-002792d0-3b60-497f-9cab-d2c8abc827d3.png)

[2021-10-20 20:23] tarekelgindy commented on #376
Sorry for the slow responsiveness with this.
The most likely cause of this is that we were using a few deprecated methods in the traitlets library that  outdated in their latest release. However, these issues should have been addressed by [this](https://github.com/NREL/ditto/pull/358) pull request.

Are you using the most recent version of ditto? If not, try running
`pip install ditto.py==0.2.2`

[2021-10-20 20:25] tarekelgindy commented on #375
At this point we don't have support for a PSSE reader/writer. If there is sufficient interest and support we could discuss supporting it in future releases.

[2021-10-20 20:25] #375 closed

[2021-10-20 20:27] #373 closed

[2021-10-20 20:30] tarekelgindy commented on #374
Apologies for the slow response. What are the specific issues that you're having? We integrated changes that should support conversion from CYME 9.1.0. If this is still a problem, we can address the components that seem to be problematic.

[2021-11-09 14:48] MarcoPignati opened #382 "convert OpenDSS to cim via CIMHub"
It seems that there is a bit of overlap between the ditto project and [this one](https://github.com/GRIDAPPSD/CIMHub). If you are not aware of it, maybe it is worth to investigate a potential integration of their OpenDSS to CIM conversion tool.

[2021-11-15 23:18] keithdsz opened #383 "Cmatrix lost after conversion CYME to OpenDSS"
Hi,

I've noticed that after I convert any feeder from CYME to OpenDSS that DiTTo does not transfer the Cmatrix in the LineCode. Only the X and R matrix are converted.

Would it be possible to include this in future versions? I perform transient analysis studies on distribution systems in which line shunt capacitance plays an important role.

Thank you,

Keith

[2021-12-20 00:15] TyR3x123 opened #385 "[Security] Workflow ci.yml is using vulnerable action codecov/codecov-action"
The workflow ci.yml is referencing action codecov/codecov-action using references v1.0.7. However this reference is missing the commit [c6a36d2dbbf6a734e6ef75af344acdf122fcd9f9](https://github.com/codecov/codecov-action/commits/c6a36d2dbbf6a734e6ef75af344acdf122fcd9f9) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1)

[2022-01-10 23:45] albegehtv opened #386 "Ditto"
Buenas noches, tendrias algun video tutorial de como realizar las conversiones de archivos Cyme, txt. de equipos, cargas y otros.. a la version de Opendss. Por favor. Atentamente

[2022-01-11 02:21] albegehtv commented on #377
hola como que tal como esta tu archivo conv.py configurado?? por el metodo 2???

[2022-01-11 02:21] albegehtv commented on #377
Yo estaba queriendo ayuda tambien para convertir los archivos de Cyme a Opendss, pero no consigo de ninguna forma.

[2022-01-14 02:16] temcdrm opened #387 "IEEE 13-bus (extended) Conversion Errors"
The attached version of the IEEE 13-bus system has 3-phase storage and PV added to the 480-volt bus, and 1-phase storage and PV added to a single-phase, center-tap service transformer.  This
[CPYDAR_ieee13x.zip](https://github.com/NREL/ditto/files/7867154/CPYDAR_ieee13x.zip)
circuit comes from the GridAPPS-D/CIMHub project. I ran the following conversions:

[code]
The following problems occur:

1.

[2022-01-14 02:19] temcdrm opened #388 "Show the available writers and readers"
```ditto-cli convert --help``` should include the available readers and writers, or put them in the readme file. I could make the correct list only by looking at the source files.

[2022-01-14 02:21] temcdrm opened #389 "ephasorsim writer should do something with DER"
The photovoltaic and storage components disappear in the conversion, but there are candidate ePHASORSIM component types that could be written.

[2022-01-14 02:24] temcdrm opened #390 "Should be able to specify the output base file name"
The ```--output``` option should support either a path, or path+file name.

[2022-01-19 23:08] #386 closed

[2022-01-19 23:08] albegehtv commented on #386
sin solucion

[2022-02-01 05:14] jnh277 opened #391 "convert to networkx model"
Hi,

I was wondering if its possible to convert to a networkx style model and then visualise the networks in some way?

[2022-02-01 05:55] jnh277 commented on #334
same issue when trying to use build_networkx()

[2022-02-04 15:59] vtnate opened #392 "fix_undersized_transformers method isn't working"
Building load is **much** larger than expected when running the example file and attempting to upgrade the transformers.

It might be aggregating the `total_load_kw` incorrectly, or might be missing a `/1000` somewhere, or some other unit conversion challenge.

[2022-04-13 22:53] albegehtv commented on #374
no reconoce los tranformadores y las cargas .. sale error parse

[2022-06-13 18:39] saheb26-dev opened #394 "File conversion from OpenDSS to GridLabD"
Hey,
I'm trying to convert a power grid model I created in OpenDSS to Gridlab-D. I'm using Ditto for the conversion and getting the following error. Running root so not very sure how access can be an issue. Getting the same error when not running root.
OS: Rocky Linux

![image](https://user-images.githubusercontent.com/107430234/173415665-39005fc7-06c5-4918-b24d-b0b9ac1ac774.png)

[2022-07-15 20:01] Barsha96 opened #395 "Conversion issue form OpenDSS-G/OpenDSS to Gridlab-D"
Hello, I am trying to convert openDSS files (Using Master.dss) to the Gridlab-d glm file. I am using the following code:

`ditto-cli convert --from opendss --input Master.dss --to gridlabd --output ./out`

I can convert a IEEE_4_node.glm into opendss files but cannot convert the same dss files into a glm file. The Issues I get are:

[code]
The system says OneDrive.dss is not found. The system seem

[2022-07-19 20:47] PMeira commented on #395
@Barsha96 Any chance you have spaces in your full file paths?

There's probably a pair of quotes missing in DiTTo.

[2022-07-19 20:51] PMeira commented on #394
I couldn't reproduce that. Is `dssfile` an actual file? Or a folder?

[2022-07-19 21:06] kdheepak commented on #395
@PMeira where do you think a pair of quotes is missing?

[2022-07-19 21:27] PMeira commented on #395
@kdheepak Right here:

https://github.com/NREL/ditto/blob/a1dcd4354bdc9dd25e92216498c4c3d17b4cb22e/ditto/readers/opendss/read.py#L201

[2022-07-21 20:36] Barsha96 commented on #395
The issue was I had to give full path and quote those with spaces and dashes specially for the input. I had to give absolute path for the input but could give both absolute path and relative path fir the output location.

`ditto-cli convert --from opendss --input "C:\Users\bupadhy\OneDrive - UTol\Desktop\conversion\CampusModel\ModelDSS\Master.dss" --to gridlabd --output ./CampusModel/converted`

[2022-07-21 20:40] kdheepak commented on #395
@PMeira I can make a PR for that. Thanks for pointing that out!

[2022-07-21 20:52] Barsha96 opened #396 "Could not set nominal voltage for bus sourcebus - Opendss to glm conversion"
Hi, I am using Ditto to convert from OpenDSS-G to Gridlab-D. I am facing a lot of issues doing that. I am not sure if there is any information I am missing.

Details:
When I convert OpenDSS-G's master file to glm using the following command:
`ditto-cli convert --from opendss --input "C:\Users\bupadhy\OneDrive - UTol\Desktop\conversion\CampusModel\ModelDSS\Master.dss" --to gridlabd --output ./Campu

[2022-07-22 10:05] PMeira commented on #396
@Barsha96 The .dss files are broken:

- This doesn't work (`.3_1`): `New "Line.sw33" phases=3 bus1=b31.1.2.3 bus2=b31n1.1.2.3_1 Switch=True`
- Capacitors are using `kV=0`:
[code]

Still, I tested DiTTo with OpenDSSDirect.py v0.6.1 and the latest v0.7 and both reported errors.
Before OpenDSSDirect.py v0.7, `GIScoords` command should also fail, per #387.

I recommend trying to run in official OpenDS

[2022-07-22 22:10] Barsha96 commented on #396
Thank you for your direction. I'll try and look for the errors in the dss model.
Something I wanted to figure out, I tried converting IEEE_4_node.glm file to the dss format as I wanted to try with a working dss file, converted it back again to glm format. The conversion gave me the same file as the other models did and with the same error. I am searching for a good example dss files as well which

[2022-08-01 18:03] saheb26-dev commented on #394
It's the folder which contains dss files.

[2022-08-01 20:43] PMeira commented on #394
@saheb26-dev You need to pass the main/master .dss script path, not the folder. Basically you instructed the program to try to open the folder as a file, hence the error. Note from the error message that it expects a file, no mention of folder.

On why you need a file instead of a folder: OpenDSS has scripting capabilities so a single folder can contain multiple scenarios and studies. For converti

[2022-08-01 20:50] saheb26-dev commented on #394
@PMeira Thank you so much for your input. Worked once I made the changes.

[2022-08-01 20:50] #394 closed

[2022-08-23 19:19] nlaws-camus opened #397 "cannot handle Cyme v9 exports"
I recently used DiTTo to convert a v9 Cyme export to dss and see few issues in the dss files:
1. all loads have `kV=0`
2. no `new circuit` command
3. loads with `Phases=12`?
4. source `pu=None`
5.
All of these issues could be related to how Cyme created the txt files. Before I go down the path of figuring out what needs fixed in DiTTo vs. what's wrong with the Cyme export I want to check with the

[2022-08-23 20:54] nlaws-camus commented on #397
If someone could point me to the documentation for the Cyme export format I could possibly contribute the changes needed for Cyme v9. I have looked through some of the Cyme user documentation and have not found any references yet.

One possible difference for Cyme v8 vs. v9 I have found:
 - I see [`desiredvoltage` in the Cyme reader for a [SOURCE]](https://github.com/NREL/ditto/blob/a1dcd4354bdc9d

[2022-10-10 19:49] luluhahaha opened #402 "Cyme to Opendss Multiple Sourcebus Issue"
Hi, Sir or Madam,

I am converting a two-feeder (with two different sources) network from Cyme to Opendss, but I got ValueError: Mupltiple sourcebus found: ['SOURCE_7732_src' 'SOURCE_7773_src']. Could you please help solve this problem? Or I can only convert feeders with one source at a time?

Thanks

[2022-11-01 20:42] tarekelgindy opened #404 "Fix Errors associated with changes is opendssdirect 0.7.0"
Ensure that code runs correctly with OpenDSSDirect 0.7.0.
This affects the majority of the tests in the system.
Required to get checks to pass for merging pull requests

[2022-11-07 08:44] tarekelgindy opened #405 "PTPhase not found in capacitors"
When calling `cap_control = _dss_class_to_dict("CapControl")`

the PTPhase element seems to be blank even when the value of PTPhase is non-empty in the OpenDSS file.
ie.
`cap_control[control_id]["PTPhase"])` is ''
when reading capacitor ` New Capcontrol.B4909-1 Capacitor=B4909-1 element=Line.OH_B4904 terminal=1 Delay=30  type=volt ON=120.5 OFF=125 PTphase=2 PTratio=60`

This might be due to issues

[2022-11-07 10:55] tarekelgindy commented on #405
This is a problem for regulators as well.

[2022-11-07 12:33] tarekelgindy commented on #404
#406

[2022-11-07 12:33] #404 closed

[2022-11-21 16:28] nlaws-camus opened #412 "pandas and numpy version conflicts on master branch"
`pip install https://github.com/NREL/ditto/archive/master.zip`
[code]

[2022-11-21 16:57] nlaws-camus opened #413 "missing dependency in setup.py xmltodict"
[code]

[2022-11-21 17:00] nlaws-camus opened #414 "missing dependency in setup.py bokeh"
[code]
maybe we can remove the bokeh dependency?

[2022-11-21 17:41] nlaws-camus opened #416 "windmil reader not compatible with networkx version in setup.py"
setup.py specifies major version 2 of networkx, but the code in the windmil reader is only compatible with v1 of networkx (and possibly other parts of ditto)

for reference
https://networkx.org/documentation/latest/release/migration_guide_from_1.x_to_2.0.html